@media (max-width: 576px) {
  .llms-course-list.mobile-columns-1 .llms-loop-item {
    width: 100%;
    margin-left: 0; }
  .llms-membership-list.mobile-columns-1 .llms-loop-item {
    width: 100%;
    margin-left: 0; }
  .llms-course-list.mobile-columns-2 .llms-loop-item {
    width: 48.1%;
    margin-left: 3.8%; }
    .llms-course-list.mobile-columns-2 .llms-loop-item:nth-child(2n+2) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-membership-list.mobile-columns-2 .llms-loop-item {
    width: 48.1%;
    margin-left: 3.8%; }
    .llms-membership-list.mobile-columns-2 .llms-loop-item:nth-child(2n+2) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-course-list.mobile-columns-3 .llms-loop-item {
    width: 30.8%;
    margin-left: 3.8%; }
    .llms-course-list.mobile-columns-3 .llms-loop-item:nth-child(3n+3) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-membership-list.mobile-columns-3 .llms-loop-item {
    width: 30.8%;
    margin-left: 3.8%; }
    .llms-membership-list.mobile-columns-3 .llms-loop-item:nth-child(3n+3) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-course-list.mobile-columns-4 .llms-loop-item {
    width: 22.15%;
    margin-left: 3.8%; }
    .llms-course-list.mobile-columns-4 .llms-loop-item:nth-child(4n+4) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-membership-list.mobile-columns-4 .llms-loop-item {
    width: 22.15%;
    margin-left: 3.8%; }
    .llms-membership-list.mobile-columns-4 .llms-loop-item:nth-child(4n+4) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-course-list.mobile-columns-5 .llms-loop-item {
    width: 16.96%;
    margin-left: 3.8%; }
    .llms-course-list.mobile-columns-5 .llms-loop-item:nth-child(5n+5) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-membership-list.mobile-columns-5 .llms-loop-item {
    width: 16.96%;
    margin-left: 3.8%; }
    .llms-membership-list.mobile-columns-5 .llms-loop-item:nth-child(5n+5) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-course-list.mobile-columns-6 .llms-loop-item {
    width: 13.5%;
    margin-left: 3.8%; }
    .llms-course-list.mobile-columns-6 .llms-loop-item:nth-child(6n+6) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-membership-list.mobile-columns-6 .llms-loop-item {
    width: 13.5%;
    margin-left: 3.8%; }
    .llms-membership-list.mobile-columns-6 .llms-loop-item:nth-child(6n+6) {
      margin-left: 0;
      margin-right: -1px; } }

@media (min-width: 576px) and (max-width: 959px) {
  .llms-course-list.tablet-columns-1 .llms-loop-item {
    width: 100%;
    margin-left: 0; }
  .llms-membership-list.tablet-columns-1 .llms-loop-item {
    width: 100%;
    margin-left: 0; }
  .llms-course-list.tablet-columns-2 .llms-loop-item {
    width: 48.1%;
    margin-left: 3.8%; }
    .llms-course-list.tablet-columns-2 .llms-loop-item:nth-child(2n+2) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-membership-list.tablet-columns-2 .llms-loop-item {
    width: 48.1%;
    margin-left: 3.8%; }
    .llms-membership-list.tablet-columns-2 .llms-loop-item:nth-child(2n+2) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-course-list.tablet-columns-3 .llms-loop-item {
    width: 30.8%;
    margin-left: 3.8%; }
    .llms-course-list.tablet-columns-3 .llms-loop-item:nth-child(3n+3) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-membership-list.tablet-columns-3 .llms-loop-item {
    width: 30.8%;
    margin-left: 3.8%; }
    .llms-membership-list.tablet-columns-3 .llms-loop-item:nth-child(3n+3) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-course-list.tablet-columns-4 .llms-loop-item {
    width: 22.15%;
    margin-left: 3.8%; }
    .llms-course-list.tablet-columns-4 .llms-loop-item:nth-child(4n+4) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-membership-list.tablet-columns-4 .llms-loop-item {
    width: 22.15%;
    margin-left: 3.8%; }
    .llms-membership-list.tablet-columns-4 .llms-loop-item:nth-child(4n+4) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-course-list.tablet-columns-5 .llms-loop-item {
    width: 16.96%;
    margin-left: 3.8%; }
    .llms-course-list.tablet-columns-5 .llms-loop-item:nth-child(5n+5) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-membership-list.tablet-columns-5 .llms-loop-item {
    width: 16.96%;
    margin-left: 3.8%; }
    .llms-membership-list.tablet-columns-5 .llms-loop-item:nth-child(5n+5) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-course-list.tablet-columns-6 .llms-loop-item {
    width: 13.5%;
    margin-left: 3.8%; }
    .llms-course-list.tablet-columns-6 .llms-loop-item:nth-child(6n+6) {
      margin-left: 0;
      margin-right: -1px; }
  .llms-membership-list.tablet-columns-6 .llms-loop-item {
    width: 13.5%;
    margin-left: 3.8%; }
    .llms-membership-list.tablet-columns-6 .llms-loop-item:nth-child(6n+6) {
      margin-left: 0;
      margin-right: -1px; } }

.llms-loop-list {
  display: flex;
  flex-wrap: wrap; }
  .llms-loop-list li.llms-loop-item {
    float: none;
    display: flex; }

.lifter-load-more-posts {
  padding-bottom: 50px; }

.nv-lifter-list-view ul.llms-loop-list {
  display: flex;
  flex-wrap: wrap; }
  .nv-lifter-list-view ul.llms-loop-list li.llms-loop-item {
    display: flex;
    width: 100%;
    margin-left: 0; }

.nv-lifter-list-view .llms-loop-item-content {
  display: flex;
  width: 100%;
  position: relative;
  padding: 0; }

.nv-lifter-list-view .nv-lifter-card-media-wrap {
  flex-grow: 0;
  margin-bottom: auto;
  position: relative;
  overflow: hidden;
  max-width: 30%; }

.nv-lifter-list-view .nv-lifter-card-content-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 25px;
  justify-content: center; }
