@mixin cart--laptop() {
  .nv-cart-total-fixed .cart_totals {
    z-index: 99;
  }
  .nv-cart-side-by-side {
    .cart-collaterals {
      width: 67%;

      .cross-sells {
        width: 100%;
      }
    }

    .woocommerce-cart-form {
      display: flex;

      .shop_table.cart {
        width: 67%;
        margin-right: 3%
      }

      .cart_totals {
        align-self: flex-start;
        width: 30%;
        flex-grow: 1;

        table {
          width: 100%;
        }
      }
    }
  }
}

.woocommerce-cart.nv-cart-side-by-side {
  .cart-collaterals .cross-sells {
    width: 100%;
  }
}
