.woocommerce-checkout {
  h3 {
    background-color: transparent;
    border: none;
  }

  .woocommerce-additional-fields h3{
    padding-left: 0;
    padding-right: 0;
  }

  #payment{
    background: transparent;
  }
}

.nv-checkout-layout-stepped,
.nv-checkout-layout-vertical {
  form.woocommerce-checkout {
    display: flex;
  }

  #customer_details, #order_review{
    align-self: center;
  }
}

.nv-checkout-layout-stepped {
  .nv-checkout-steps-wrapper {
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    display: flex;
    font-weight: 700;
    flex-direction: column;

    + form.checkout {
      margin-bottom: 30px;
    }

    .nv-checkout-step {
      cursor: pointer;
      color: inherit;
      text-decoration: none !important;
      flex: 1 1 0;
      padding: 16px 0;
      &.active .step-number-label {
        background-color: var(--nv-primary-accent);
        border-radius: 50%;
      }
    }

    .step-number-label{
      display: inline-flex;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      justify-content: center;
      align-items: center;
      color: var(--nv-text-dark-bg);
      &:before{
        content:'';
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: var(--nv-text-color);
        opacity: 0.3;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }

  &:not(.woocommerce-order-received){
    .shop_table,
    #payment,
    .next-step-button-wrapper.review {
      display: none;
    }
  }
}

.nv-checkout-boxed-style{
  #customer_details{
    border: none;
    h3,
    #neve-checkout-coupon,
    .woocommerce-billing-fields__field-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .woocommerce-additional-fields{
    padding: 0;
  }

  .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table {
    border: none;
    .cart-subtotal td,
    .cart-subtotal th,
    .order-total td,
    .order-total th,
    .shipping td,
    .shipping th,
    thead tr th{
      border: none;
    }
  }

  #payment {
    border: none;
    div.form-row,
    ul.payment_methods {
      border: none;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .next-step-button-wrapper{
    width: 100%;
    align-self: center;
  }
}

.nv-checkout-labels-placeholders.woocommerce-checkout {
  .form-row > label {
    display: none;
  }
}

.nv-checkout-fixed-total.woocommerce-checkout {
  form.woocommerce-checkout {
    flex-direction: column-reverse;
  }

  #payment {
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #f0f0f0;
  }
}

@mixin checkout--tablet() {
  .nv-checkout-layout-stepped .nv-checkout-steps-wrapper {
    margin-bottom: 60px;
    margin-top: 60px;
    flex-direction: row;
    .nv-checkout-step {
      text-align: center;
    }
  }
}

@mixin checkout--laptop() {
  .nv-checkout-layout-vertical, .nv-checkout-layout-stepped {
    .woocommerce-checkout {
      > .col2-set {
        width: 100%;
      }
      .woocommerce-checkout-review-order{
        width: 100%;
      }
    }
  }

  .nv-checkout-layout-standard.nv-checkout-fixed-total {
    #order_review {
      z-index: 1000000;
    }

    #payment {
      margin: 0 12px 9px 12px;
      background: #f9f9f9;
    }
  }
  .nv-checkout-fixed-total.woocommerce-checkout {
    #payment {
      border: 1px solid #f0f0f0;
      margin-bottom: 12px;
    }
  }
}
