@media (min-width: #{$tablet-sm}) {
  @include seamless-view-cart--mobile();
}

@media (min-width: #{$tablet}) {
  @include wishlist--tablet();
  @include sticky-add-to-cart--tablet();
  @include checkout--tablet();
}

@media (min-width: #{$laptop}) {
  @include cart--laptop();
  @include checkout--laptop();
  @include quick-view--laptop();
  @include wishlist--laptop();
  @include off-canvas--laptop();
  @include product-nav--laptop();
  @include cart-off-canvas--laptop();
}

@media (min-width: #{$desktop}) {
  @include recently--desktop();
}
