.nv-related-clearfix {
  display: table;
  content: " ";
  width: 100%;
}

.woocommerce .neve-related-slider-wrap {
  position: relative;
  padding: 0 35px;
  display: block;

  .products > div > div {
    padding: 0 10px;
  }

  ul.products li.product {
    width: 100%;
    margin: 0;
  }
}

.woocommerce div.product div.images .flex-control-thumbs.neve-slider li {
  width: 100%;
}

.neve-slider-control {
  user-select: none;
  width: 25px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  font-size: 2.5em;
  font-weight: 800;
  display: flex;
  align-items: center;
  opacity: .9;

  &:hover {
    opacity: 1;
  }
}

.nv-left-gallery div.product {
  .tns-outer {
    align-self: flex-start;
    position: relative;
  }

  .onsale {
    left: 62px;
    &.outside {
      left: 57px;
    }
  }

  div.images {
    display: flex;
    flex-direction: row-reverse;

    .flex-viewport {
      width: 100%;
    }

    .flex-control-thumbs {
      width: 70px;
      flex-direction: column;
      flex-wrap: nowrap;
      margin: -5px 5px 0 -5px;

      li {
        width: 100%;
      }
    }
  }
}

.tns-ovh {
  overflow: hidden;
}

.tns-visually-hidden {
  display: none;
}

.nv-slider-gallery  {
  .woocommerce-product-gallery .tns-outer {
    position: relative;
    margin-top: 5px;
  }
  div.product div.images .flex-control-thumbs {
    margin: 5px 0 0;
    li {
      padding: 0;
    }
  }
  .neve-slider-control.prev {
    left: 0;
  }.neve-slider-control.next {
    right: 0;
  }
  &:not(.nv-left-gallery) .neve-slider-control {
    top: 5px;
    bottom: 0;
  }
  .tns-ovh:hover .neve-slider-control {
    background: rgba(255, 255, 255, .75);
  }


  &.nv-left-gallery {
    .tns-ovh {
      position: relative;
    }
    .woocommerce-product-gallery .tns-outer {
      margin: 0 10px 0 0;
    }
    div.product div.images .flex-control-thumbs {
      margin: 0;
      li:last-child:after {
        display: block;
        height: 10px;
        content: " ";
      }
    }

    div.product .onsale {
      left: 80px;
      &.outside{
        left: 75px;
      }
    }

    .woocommerce-product-gallery .neve-slider-control {
      width: 100%;
      justify-content: center;

      &.next {
        top: unset;
        bottom: 10px;
        right: unset;
      }

      &.prev {
        top: 0;
        left: unset;
      }
    }
  }
}

.related.products {
  &:hover .neve-slider-control {
    background: rgba(255, 255, 255, .75);
  }

  .tns-ovh {
    margin: 0 5px;
    position: relative;
  }

  .neve-slider-control {
    top: 0;
    bottom: 0;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }

  .products.tns-slider {
    display: flex;
    li.product {
      margin: 0;
    }
  }
}

.woocommerce span.onsale {
  &.outside {
    left: -10px;
    top: -5px;
  }
}

.woocommerce button.button.single_add_to_cart_button.loading{
  padding-right: 3em;
}

.nv-product-nav-wrap{
  position: relative;
  margin-bottom: 10px;
}

.nv-product-nav {
  width: 100%;
  display: inline-block;
  li.next-li {
    float: left;
    a{
      margin-right: 10px;
    }
  }

  li.prev-li {
    float: right;
    a{
      margin-left: 10px;
    }
  }

  li {
    position: relative;

    a.nv-nav-text {
      font-size: 12px;
      display: inline-block;
    }

    svg{
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.nv-has-product-nav{
  &.woocommerce span.onsale{
    top: calc( 100% + 10px );
    &.outside{
      top: calc( 100% + 5px );
    }
  }
}

@mixin product-nav--laptop() {
  .nv-product-nav-wrap {
    text-align: right;
    z-index: 1;
  }

  .nv-product-nav {
    .nv-button {
      font-size: .8em;
      font-weight: 600;
      padding: 8px 12px;
      transition: all .15s ease-in-out;
      text-align: center;
      vertical-align: middle;
      border: 1px solid transparent;
      border-radius: 3px;
      text-transform: uppercase;
      cursor: pointer;
      line-height: normal;
      font-family: inherit;
      &:hover {
        text-decoration: none;
        opacity: .9;
      }

      .nv-button-secondary {
        border: 1px solid;
        background-color: transparent;
        font-weight: 600;
        color: $gray-color;
        &:hover {
          background: transparent;
        }
      }
    }

    li {
      display: inline-block;
      margin-left: 3px;

      &:first-child {
        margin-left: 0;
      }

      a.nv-nav-text {
        display: none;
      }

      &.next-li, &.prev-li{
        float: none;
        a{
          margin: 0;
        }
      }
    }
  }
}

.woocommerce.single .entry-summary>form.cart {
  .wc-forward{
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 4px;
  }
  > a, > button {
    &:after{
      vertical-align: initial;
      display: inline-block;
      float: none;
    }
  }
}

@mixin seamless-view-cart--mobile() {
  .woocommerce.single .entry-summary>form.cart .wc-forward{
    flex-basis: initial;
    margin-left: 4px;
    margin-top: 0;
  }
}

.sticky-add-to-cart__product {
  display: none;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px;

  .product-title-small {
    margin-right: 1em;
    max-width: 180px;
    line-height: 1;
  }

  img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 1em;
    border-radius: 5px;
  }
}

.sticky-add-to-cart--active {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;


  &.sticky-add-to-cart-bottom{
    bottom: 0;
  }

  &.sticky-add-to-cart-top{
    top: 0;
  }

  .woocommerce-variation-description,
  .variations {
    display: none;
  }

  .woocommerce-variation-add-to-cart,
  .single_variation_wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
  }

  .price {
    margin: 0;
    color: inherit!important;
    margin-right: 1em;
  }

  .qty{
    transition: none;
    background-color: #fff;
  }

  .woocommerce-variation-price,
  .product-page-price {
    margin-top: 0;
    margin-right: 0.9em;
    margin-bottom: 0;
    font-size: 15px;
    padding: 0;
    border: 0;
  }

  .quantity,
  form,
  button {
    margin-bottom: 0;
  }

  .sticky-add-to-cart__product {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@mixin sticky-add-to-cart--tablet() {
  .sticky-add-to-cart--active .sticky-add-to-cart__product{
    width: auto;
  }
}
