/**
 * Author Biography
 */
.nv-author-biography {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 0 20px; }
  .nv-author-biography .nv-author-bio-text-wrapper {
    padding-right: 20px; }

@media (max-width: 576px) {
  .nv-author-biography {
    flex-direction: column; }
    .nv-author-biography .nv-author-bio-image {
      width: 100px;
      height: 100px; }
    .nv-author-biography .nv-author-bio-text-wrapper {
      padding-right: 0;
      padding-top: 20px; } }

/**
 * Related Posts
 */
.nv-related-posts .posts-wrapper {
  margin: 0 -15px;
  display: flex; }
  .nv-related-posts .posts-wrapper .related-post {
    margin-bottom: 30px; }
    .nv-related-posts .posts-wrapper .related-post .content {
      padding-bottom: 30px;
      border-bottom: 1px solid var(--nv-light-bg); }

/**
 * Social icons
 */
.nv-social-icon {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-left: 8px;
  cursor: pointer;
  /* Social icons color */ }
  .nv-social-icon a, .nv-social-icon.social-share {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background-color: #676767;
    border-radius: 50%; }
    .nv-social-icon a svg, .nv-social-icon.social-share svg {
      fill: #fff; }
  .nv-social-icon:not(:first-child) {
    opacity: 0;
    transform: translateX(-20%);
    transition: transform 400ms ease-out, opacity 400ms ease-out; }
  .nv-social-icon a.facebook {
    background-color: #3b5998; }
  .nv-social-icon a.twitter {
    background-color: #1da1f2; }
  .nv-social-icon a.pinterest {
    background-color: #bd081c; }
  .nv-social-icon a.linkedin {
    background-color: #0077b5; }
  .nv-social-icon a.tumblr {
    background-color: #35465c; }
  .nv-social-icon a.reddit {
    background-color: #ff4500; }
  .nv-social-icon a.email {
    background-color: #58a9de; }
  .nv-social-icon a.whatsapp, .nv-social-icon a.sms {
    background-color: #20b038; }
  .nv-social-icon a.vk {
    background-color: #45668e; }

.nv-post-share {
  margin: 10px 0; }
  .nv-post-share ul {
    display: flex; }
  .nv-post-share:hover .nv-social-icon:not(:first-child) {
    opacity: 1;
    transform: translateX(0%); }

#toggle-comment-area {
  margin: 40px auto 20px;
  display: block; }

.nv-comments-hidden {
  display: none; }

.nv-social-icon.hide-mobile {
  display: none; }

@media (min-width: 960px) {
  .nv-social-icon.hide-desktop {
    display: none; }
  .nv-social-icon.hide-mobile:not(.hide-desktop) {
    display: flex; }
  .show-hover .inner {
    opacity: 0;
    transition: .2s ease-out; }
  .show-hover:hover .inner {
    opacity: 1; } }
