.nv-image-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .nv-product-overlay-link {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    transition: .2s ease;
    opacity: 0;
    &.overlay {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  a {
    opacity: 0;
    transition: .2s ease;
    visibility: hidden;
  }

  a.button {
    max-width: 95%;
  }

  a.add_to_cart_button, a.button.product_type_external, a.product_type_variable, a.product_type_grouped {
    margin-bottom: 10px;
  }

  a.added_to_cart {
    margin-bottom: 10px;
    @include button-secondary(false, #fff);
    &:hover {
      background-color: #fff;
      color: #333;
    }
  }

  &:hover, &:focus {
    a {
      visibility: visible;
      opacity: 1;
      z-index: 3;
    }
  }
}
.woocommerce {
  a.nv-quick-view-product {
    @include button();
    @include button-secondary(false, #fff);

    &:hover {
      background-color: #fff;
      color: #333;
    }

    &.bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      padding: 9px 5px;
      background-color: #ececec;
      color: #333;
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.07);
    }
  }
}
