.nv-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility linear 0.1s, opacity 0.3s ease;

  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  .nv-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .nv-modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    outline: none;
    background: none;
    font-size: 24px;
    color: #747474;
    z-index: 10000;

    &:hover {
      color: #000;
    }
  }

  //<editor-fold desc="Loader and content hiding.">
  .is-loading .nv-modal-inner-content {
    display: none;
  }

  .nv-loader-wrap {
    display: none;
  }

  .is-loading .nv-loader-wrap {
    display: flex;
    align-items: center;
    height: 100%;

    .nv-loader {
      display: block;
    }
  }

  .request-notice{
    padding: 10px;
    margin: 10px;
    height: auto;
    border-left: 3px solid #dc3232;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }

  //</editor-fold>

  .nv-modal-inner-content {
    .summary.entry-summary {
      float: none;
      display: flex;
      box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.5);
      z-index: 1000;
      align-items: center;
      margin-bottom: 0;
      width: 100%;
      overflow-x: hidden;
    }

    .summary-content {
      max-height: 100%;
      overflow-y: auto;
      margin-right: -50px;
      padding: 30px 60px 30px 30px;
      width: 100%;
    }
  }

  .nv-modal-container {
    overflow: auto;
    position: relative;
    z-index: 100001;
    width: 90%;
    max-width: 1000px;
    height: 85%;
    top: 60px;
    box-shadow: 0 0 10px -2px #000;
    margin: 0 auto;
    background-color: var(--nv-site-bg);

    .nv-qv-gallery-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      width: 100%;
      position: relative;
      overflow: hidden;

      .nv-slider-controls {
        position: absolute;
        z-index: 200000;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        a {
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: rgba(0, 0, 0, .1);

          &:hover {
            background-color: rgba(0, 0, 0, .5);
          }

          polyline {
            stroke: #fff;
          }
        }

        .prev {
          float: left;
        }

        .next {
          float: right;
        }
      }
    }

    .nv-slider-gallery {
      display: flex;
      align-items: center;
    }

    .nv-modal-inner-content, .product {
      height: 100%;
    }

    .onsale.outside {
      top: 0;
    }
  }

  div.product {
    span.onsale {
      left: 0;
    }
  }
}

.qv-actions {
  margin-bottom: 20px;

  &.variable {
    form.cart{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
    }

    table.variations{
      grid-column-start: 1;
      grid-column-end: -1;
    }

    .single_variation_wrap{
      display: grid;
      grid-template-columns: repeat( 12, 1fr );
      grid-column-start: 1;
      grid-column-end: -1;

      .single_variation{
        grid-column-start: 1;
        grid-column-end: -1;
      }
      .woocommerce-variation-add-to-cart{
        grid-column-start: 1;
        grid-column-end: 6;
        button{
          width: 100%;
        }
      }
      .more-details {
        grid-column-start: 7;
        grid-column-end: -1;
      }
    }
  }

  &.simple{
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    align-items: center;

    form.cart{
      grid-column-start: 1;
      grid-column-end: 6;
      margin-bottom: 0 !important;
      button{
        width: 100%;
      }
    }

    .more-details {
      grid-column-start: 7;
      grid-column-end: -1;
    }

    .stock{
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

@mixin quick-view--laptop() {
  .nv-modal {
    .nv-modal-container {
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      width: 80%;


      .nv-qv-gallery-wrap {
        width: 50%;
        height: 100%;
      }
    }

    .nv-modal-inner-content .product .product {
      display: flex;

      .summary {
        width: 50%;
      }
    }
  }
}

