.accordion {
    background-color: $color-background-ultralight;
    padding-top: 40px;
    margin-bottom: 40px;
    @include respond-to('medium') {
        padding: 100px 0 30px 0;
        margin-bottom: 80px;
    }
    h3 {
        margin: 0;
    }
    &-title {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        @include respond-to('large') {
            margin-bottom: 56px;
            margin-left: -60px;
        }
    }
    .round-question-mark {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color-white;
        margin-right: 20px;
        flex: none;
        img {
            position: absolute;
            display: block;
            top: 12px;
            left: 12px;
            width: auto;
            height: auto;
        }
    }
    button {
        cursor: pointer;
        background: transparent;
        @extend %type-base;
        font-family: $font-bold;
        color: $color-text-default;
        width: 100%;
        text-align: left;
        position: relative;
        padding-right: 50px;
        transition: all 0.3s ease;
        @include respond-to('medium') {
            font-size: 20px;
            line-height: 28px;
        }
        &:focus,
        &:hover {
            color: $color-border-dark;
            .round-arrow-down {
                border: 1px solid $color-primary;
                &:after {
                    border: solid $color-primary;
                    border-width: 0 1px 1px 0;
                }
            }
        }
    }
    .round-arrow-down {
        position: absolute;
        top: 0;
        right: 0;
    }
    &-item {
        padding-bottom: 32px;
        margin-bottom: 20px;
        border-bottom: 1px solid $color-border-ultralight;
        &:last-of-type {
            border-bottom: 0;
        }
        @include respond-to('medium') {
            padding-bottom: 40px;
            margin-bottom: 32px;
        }
    }
    &-content {
        display: none;
        p {
            margin: 0;
            padding-top: 36px;
            color: $color-text-light;
            @include respond-to('medium') {
                font-size: 16px;
                line-height: 24px;
                max-width: 520px;
            }
        }
    }
}