@mixin arrow-down {
    border: solid $color-border-medium;
    border-width: 0 1px 1px 0;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 7px;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
}

.arrow-right {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 14px;
    height: 1px;
    width: 32px;
    background-color: $color-primary;
    &:before,
    &:after {
        content: "";
        background: $color-primary;
        position: absolute;
        height: 1px;
        width: 6px;
    }
    &:before {
        right: -1px;
        bottom: -2px;
        transform: rotate(-45deg);
    }
    &:after {
        right: -1px;
        top: -2px;
        transform: rotate(45deg);
    }
}

.round-arrow-right {
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid $color-border-ultralight;
    transition: all 0.3s ease;
    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 14px;
        left: 13px;
        border: solid $color-border-medium;
        border-width: 0 1px 1px 0;
        width: 6px;
        height: 6px;
        transform: rotate(-45deg);
    }
}

.round-arrow-down {
    @extend .round-arrow-right;
    border: 1px solid $color-border-medium;
    transition: all 0.3s ease;
    &::after {
        top: 13px;
        left: 14px;
        transform: rotate(45deg);
        transition: all 0.3s ease;
    }
    &.up {
        &::after {
            transform: rotate(-135deg);
            top: 14px;
        }
    }
}