.author {
    padding-bottom: 30px;
    @include respond-to('small') {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;
    }
    @include respond-to('medium') {
        padding-bottom: 80px;
    }
    &-title {
        margin-bottom: 24px;
        @include respond-to('small') {
            width: 40%;
        }
        img {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            margin-right: 24px;
        }
        h6 {
            margin: 0;
            @extend %type-base;
            font-family: $font-regular;
            display: inline-block;
            vertical-align: middle;
            @include respond-to('medium') {
                font-size: 16px;
                line-height: 24px;
            }
        }
        span {
            display: block;
            @extend %type-caption;
            color: $color-text-light;
            @include respond-to('medium') {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }
    p {
        color: $color-text-light;
        margin-bottom: 20px;
        @include respond-to('small') {
            width: 60%;
        }
        @include respond-to('medium') {
            margin-bottom: 34px;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .social-icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        position: relative;
        background-color: $color-background-ultralight;
        margin-right: 12px;
        transition: all 0.3s ease;
        cursor: pointer;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            background-color: #dadeec;
        }
    }
    >span {
        &:first-of-type {
            @include respond-to('small') {
                margin-left: 40%;
            }
        }
    }
}