.best-of {
    .info {
        ol {
            padding: inherit;
            margin: inherit;
            li {
                &:nth-last-of-type(2) {
                    border-bottom: 1px solid $color-border-ultralight;
                    @include respond-to('medium') {
                        border-bottom: 0;
                    }
                }
            }
        }
        .brand {
            width: 72px;
            height: 72px;
            background: $color-white;
            border-radius: 36px;
            margin-bottom: 20px;
            @include respond-to('medium') {
                margin: 0;
                position: absolute;
                top: -8px;
                left: -112px;
            }
        }
        .brand {
            background: $color-white;
        }
        &>li {
            position: relative;
            margin-bottom: 60px;
            padding-left: 0;
            .title-box {
                margin-bottom: 8px;
                @include flex-center-space-between;
                flex-wrap: wrap;
                gap: 30px;
                @include respond-to('medium') {
                    justify-content: flex-start;
                    gap: 5px;
                }
            }
            h4 {
                @extend %type-large;
                margin: 0;
                @include respond-to('medium') {
                    margin-right: 12px;
                }
            }
            .brand-link {
                display: block;
                margin-bottom: 32px;
                color: $color-primary-light;
            }
        }
        ol {
            list-style-type: none;
            padding: 32px 0 0 0;
            margin: 0;
            border-top: 1px solid $color-border-ultralight;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 12px;
            @include respond-to('medium') {
                justify-content: flex-start;
                gap: 44px;
            }
            li {
                width: 46%;
                padding-bottom: 16px;
                padding-left: 0;
                border-bottom: 1px solid $color-border-ultralight;
                margin-bottom: 20px;
                font-family: $font-bold;
                @extend %type-base;
                @include respond-to('medium') {
                    width: auto;
                    min-width: 110px;
                    border-bottom: 0;
                    margin-bottom: 0;
                }
                &:last-of-type,
                &:nth-last-of-type(2) {
                    border-bottom: 0;
                }
            }
            small {
                @extend %type-tiny;
                font-family: $font-regular;
                color: $color-text-light;
                display: block;
                margin-bottom: 8px;
            }
        }
        .round-coin-icon {
            img {
                width: 60%;
                height: auto;
            }
        }
        .round-icon--black {
            background: #11192D;
            box-shadow: none;
            img {
                margin: 0;
                top: 50%;
                left: 50%;
                width: 90%;
            }
        }
        .round-icon--abra {
            box-shadow: none;
            img {
                top: 0;
                left: 0;
                width: 100%;
                transform: none;
            }
        }
    }
}