
.bigger-text,
div p.bigger-text,
.single-country .content p.bigger-text {
   @extend %type-medium;
   color: $color-text-light;
   margin-bottom: 40px;
   @include respond-to('medium') {
       font-size: 31px;
       line-height: 40px;
       margin-bottom: 76px;
   }
}