nav.rank-math-breadcrumb,
.intro nav.rank-math-breadcrumb  {
   color: $color-text-light;
   margin-bottom: 32px;
   >p {
      font-size: 14px;
      line-height: 18px;
      display: flex;
      margin-bottom: 0;
   }
   
   .separator {
      margin: 0 4px;
   }

   .last {
      display: inline-block;
      width: 200px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
   }
}
