.button {
    cursor: pointer;
    padding: 12px 32px;
    background-color: $color-primary;
    border-radius: 6px;
    color: $color-white;
    @extend %type-button;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #1f2f8a;
    }
    &-white {
        @extend .button;
        background-color: transparent;
        border: 1px solid $color-white;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: rgba(51, 69, 163, 0.1);
        }
    }
    &-neutral {
        @extend .button;
        background-color: transparent;
        border: 1px solid $color-text-ultralight;
        color: $color-text-default;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: rgba(51, 69, 163, 0.1);
        }
    }
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.button-round {
    cursor: pointer;
    padding: 8px 20px 8px 24px;
    border-radius: 16px;
    border: 1px solid $color-primary;
    background-color: transparent;
    @extend %type-button;
    color: $color-primary;
    transition: all 0.4s ease-in-out;
    &-white {
        @extend .button-round;
        border: 1px solid $color-white;
        color: $color-white;
    }
    &-neutral {
        @extend .button-round;
        border: 1px solid $color-border-ultralight;
        color: $color-text-light;
    }
    &:hover,
    &:focus {
        text-decoration: none;
    }
}