.buy-bitcoin {
    margin-bottom: 32px;
    .coin {
        h2 {
            margin-bottom: 0;
            @extend %type-base;
            @include respond-to('medium') {
                font-size: 20px;
                line-height: 28px;
            }
        }
        @include respond-to('small') {
            max-width: 320px;
        }
    }
}