.caption {
    @include flex-center-space-between;
    margin-bottom: 40px;
    @include respond-to('medium') {
        margin-bottom: 60px;
    }
    h2 {
        margin: 0;
    }
    @include respond-to('medium') {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    &--title {
        align-self: flex-end;
        @include respond-to('small') {
            align-self: center;
            display: flex;
            align-items: center;
        }
    }
    .see-all {
        @include respond-to('small') {
            margin-left: 25px;
            margin-top: 2px;
        }
    }
}