.carousel-more {
    margin-bottom: 68px;
    margin-left: -26px;
    overflow: hidden;
    @include respond-to('xsmall') {
        margin-left: 0;
        overflow: none;
    }
    @include respond-to('medium') {
        margin-bottom: 100px;
    }
    /* the slides */
    .slick-slide {
        margin: 0 8px;
        @include respond-to('medium') {
            margin: 0 20px;
        }
    }
    /* the parent */
    .slick-list {
        margin: 0 -8px;
        @include respond-to('medium') {
            margin: 0 -20px;
        }
    }
    .slick-track {
        margin: 0;
    }
    .item {
        height: 200px;
        border-radius: 16px;
        background-color: $color-background-ultralight;
        padding: 24px;
        position: relative;
        transition: all 0.3s ease;
        @include respond-to('medium') {
            height: 224px;
            padding: 32px;
        }
        &:focus,
        &:hover {
            text-decoration: none;
        }
        &:hover {
            @include respond-to('medium') {
                background-color: #e8eaf3;
            }
        }
    }
    span {
        @extend %type-caption;
        color: $color-text-default;
    }
    h3 {
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 24px;
        margin: 0;
        color: $color-text-default;
        @include respond-to('medium') {
            bottom: 32px;
            left: 32px;
            right: 32px;
        }
    }
}