.coin {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    @include respond-to('small') {
        max-width: 260px;
    }
    h4,
    h2 {
        margin: 0;
        color: $color-text-default;
        transition: 0.3s ease;
    }
    span {
        @extend %type-caption;
        color: $color-text-light;
        text-transform: uppercase;
        display: block;
        margin-top: -2px;
    }
    .round-arrow-right {
        margin-left: auto;
        min-width: 36px;
        background-color: $color-white;
        transition: 0.3s ease;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        h4 {
            color: $color-primary;
        }
        h2 {
            color: $color-border-dark;
        }
        .round-arrow-right {
            border: 1px solid $color-border-medium;
        }
    }
}