.contents-list {
    padding-left: 24px;
    border-left: 1px solid $color-border-ultralight;
    margin-bottom: 40px;
    @include respond-to('medium') {
        margin-bottom: 80px;
    }
    span {
        @extend %type-caption;
        color: $color-text-light;
        text-transform: uppercase;
        margin-bottom: 24px;
        display: block;
    }
    ul {
        margin: 0;
        padding: 0 0 0 15px;
    }
    li {
        color: $color-primary;
        @extend %type-small;
        margin-bottom: 12px;
        @include respond-to('medium') {
            font-size: 16px;
            line-height: 24px;
        }
    }
    a {
        color: $color-primary;
    }
}