//--------------- Crypto table 
.crypto-table {
    position: relative;
    margin: 10px -24px 40px -24px;
    @include respond-to('small') {
        margin: 10px 0 85px 0;
    }
    p.crypto-title {
        margin: 0;
        padding-left: 24px;
        text-align: left;
        padding-bottom: 16px;
        @extend %type-caption;
        color: $color-text-light;
        @include respond-to('small') {
            padding-left: 0;
        }
    }
}

// ----------------- Compare table
.compare-table {
    td,
    th {
        padding: 16px 5px 16px 24px;
        box-sizing: border-box;
        text-align: left;
        white-space: inherit;
        @include respond-to('small') {
            padding: 24px 15px 24px 7px;
        }
    }
    thead th {
        padding: 16px 10px 0 24px;
        white-space: nowrap;
        @include respond-to('small') {
            padding: 16px 27px 0 7px;
        }
    }
    tbody th {
        color: $color-text-default;
        font-size: 14px;
        line-height: 20px;
        max-width: 200px;
        min-width: 130px;
        padding: 16px 23px 16px 22px;
        @include respond-to('xsmall') {
            white-space: nowrap;
            max-width: none;
            min-width: none;
        }
        @include respond-to('small') {
            padding: 22px 20px 20px 0px;
        }
        a {
            display: block;
            color: $color-primary;
            font-family: $font-light;
            font-size: 12px;
            line-height: 16px;
            margin-top: 3px;
        }
    }
    tbody tr:last-of-type {
        border-bottom: 1px solid #DEE0EC;
        th {
            border-bottom: 1px solid #DEE0EC;
        }
    }
}

.minus-icon,
.check-icon {
    display: inline-block;
    vertical-align: bottom;
    border-radius: 8px;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

.minus-icon {
    background-color: $color-border-medium;
    &::after {
        content: '';
        width: 8px;
        height: 2px;
        background-color: $color-white;
        position: absolute;
        top: 7px;
        left: 4px;
    }
}

.check-icon {
    background-color: $color-success;
    &::before {
        position: absolute;
        left: 6px;
        top: 7px;
        height: 4px;
        width: 2px;
        background-color: #fff;
        content: "";
        transform: rotate(-40deg);
        transform-origin: left bottom;
    }
    &::after {
        position: absolute;
        left: 7px;
        bottom: 4px;
        height: 2px;
        width: 9px;
        background-color: #fff;
        content: "";
        transform: rotate(-50deg);
        transform-origin: left bottom;
    }
}