.dropdown {
    display: none;
    position: fixed;
    width: 100%;
    max-height: calc(100vh - 140px);
    top: 140px;
    left: 0;
    right: 0;
    z-index: 99999;
    overflow: auto;
    background-color: $color-white;
    padding: 24px 0 30px 0;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    &.hover {
        pointer-events: auto;
        margin-top: 0;
        opacity: 1;
    }
    @include respond-to('medium') {
        position: absolute;
        top: 120px;
        width: 100vw;
        max-height: unset;
        max-height: none;
        padding: 120px 0 60px 0;
        opacity: 1;
        overflow: unset;
        display: block;
        opacity: 0;
        pointer-events: none;
        margin-top: 5px;
        transition: all 300ms ease-out, opacity 300ms ease;
    }
    @include respond-to('large') {
        top: 62px;
    }
    .modal-header {
        color: $color-text-light;
        @extend %type-caption;
        @include flex-center-space-between;
        margin-bottom: 36px;
        @include respond-to('medium') {
            display: none;
        }
    }
    .close {
        width: 40px;
        height: 40px;
        border: 1px solid $color-border-ultralight;
        border-radius: 50%;
        position: relative;
        transition: all 0.3s ease;
        &::after,
        &::before {
            content: ' ';
            position: absolute;
            top: 13px;
            left: 19px;
            height: 13px;
            width: 1px;
            background-color: $color-text-light;
        }
        &::after {
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(-45deg);
        }
        &:hover,
        &:focus {
            cursor: pointer;
            border-color: $color-text-default;
            &::after,
            &::before {
                background-color: $color-text-default;
            }
        }
    }
    h1 {
        margin-bottom: 24px;
        @include respond-to('medium') {
            margin-bottom: 0;
        }
    }
    &-head {
        margin-bottom: 60px;
        @include respond-to('medium') {
            margin-bottom: 80px;
        }
        p {
            @extend %type-base;
            color: $color-text-light;
            margin: 0;
            padding: 0;
            @include respond-to('medium') {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
    h2 {
        margin-bottom: 40px;
        @include respond-to('medium') {
            margin-bottom: 60px;
        }
    }
    .coins-wrap {
        @include respond-to('small') {
            display: flex;
            flex-wrap: wrap;
            margin-left: -9%;
        }
        @include respond-to('medium') {
            margin-left: -6%;
        }
        .coin {
            @include respond-to('small') {
                width: 40%;
                flex: 1 1 40%;
                max-width: 40%;
                margin-left: 9%;
            }
            @include respond-to('medium') {
                width: 27%;
                flex: 1 1 27%;
                max-width: 27%;
                margin-left: 6%;
            }
        }
    }
}