.editor {
   ul,
   ol {
       list-style: none;
       padding: 0;
       margin-bottom: 24px;
       @include respond-to('medium') {
           margin-bottom: 32px;
       }
   }
   ul {
       li {
           padding: 0 0 0 16px;
           position: relative;
           margin-bottom: 12px;
           &::before {
               content: '';
               position: absolute;
               top: 9px;
               left: 0;
               width: 4px;
               height: 4px;
               border-radius: 50%;
               background-color: $color-primary;
           }
       }
   }
   ol {
       li {
           padding-left: 24px;
           margin-bottom: 12px;
           position: relative;
           counter-increment: li;
           &::before {
               color: $color-text-ultralight;
               @extend %type-tiny;
               content: counter(li) ".";
               position: absolute;
               left: 0;
               top: 4px;
           }
       }
   }
}