// HOME PAGE - EMAIL FORM
._form {
    margin: 0;
    padding: 0;
    width: 100%;
    @include respond-to('xsmall') {
        width: 350px;
    }
    &-content {
        display: flex;
        align-items: flex-end;
    }
    ._field-wrapper {
        input[type="text"] {
            display: block;
            width: 100%;
            padding: 9px 12px 9px 10px;
            height: auto;
            border: 0;
            border-radius: 6px 0px 0px 6px;
            font-size: 14px;
            line-height: 20px;
            color: $color-text-light;
            @include placeholder($color-text-light);
            border: 1px solid transparent;
            @include respond-to('xsmall') {
                padding: 9px 24px 9px 20px;
            }
            &._has_error {
                border: 1px solid $color-warning;
            }
        }
    }
    &_element {
        margin-bottom: 0;
        flex: 1;
        ._form-label {
            display: none;
        }
    }
    ._button-wrapper {
        width: auto;
        button {
            padding: 12px 18px;
            background: $color-primary;
            @extend %type-button;
            font-size: 10px;
            font-family: $font-bold;
            color: $color-white;
            border-radius: 0px 6px 6px 0px;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            @include respond-to('xsmall') {
                padding: 12px 32px;
            }
            &:focus,
            &:hover {
                background-color: #1f2f8a;
            }
        }
    }
    &-branding {
        display: none;
    }
    ._error._below,
    ._error._above {
        position: absolute;
        color: $color-warning;
        margin-top: 4px;
    }
}