.global-item {
    padding-bottom: 40px;
    border-bottom: 1px solid $color-border-ultralight;
    margin-bottom: 40px;
    @include respond-to('small') {
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 100%;
        margin-bottom: 0;
        padding-bottom: 70px;
    }
    h3,
    p {
        margin-bottom: 20px;
        @include respond-to('small') {
            margin-bottom: 40px;
        }
    }
    >a {
        h3 {
            color: $color-text-default;
            transition: color 0.3s ease;
        }
        &:focus,
        &:hover {
            text-decoration: none;
        }
        &:hover {
            h3 {
                color: $color-primary;
            }
        }
    }
    p {
        @extend %type-base;
        max-width: 296px;
    }
    small {
        display: inline-block;
        margin: 0 24px 8px 0;
        @extend %type-caption;
        color: $color-text-light;
    }
    .button {
        display: inline-block;
        @include respond-to('small') {
            margin-top: auto;
        }
    }
}

.update {
    @extend %type-tiny;
    color: $color-text-light;
    display: block;
}

.update-mobile {
    float: right;
    margin-top: 3px;
    @include respond-to('small') {
        display: none;
    }
}

.update-desktop {
    display: none;
    @include respond-to('small') {
        display: inline-block;
        margin-bottom: 20px;
    }
}

.update-page {
    margin-bottom: 40px;
}

.wp-block-image {
    img {
        width: auto;
        height: 100%;
    }
}