.info {
    list-style: none;
    padding: 0;
    margin: 0;
    @include respond-to('medium') {
        margin-bottom: 100px;
    }
    .brand {
        width: 72px;
        height: 72px;
        background: #102534;
        border-radius: 36px;
        margin-bottom: 20px;
        @include respond-to('medium') {
            margin: 0;
            position: absolute;
            top: -8px;
            left: -112px;
        }
    }
    &>li {
        position: relative;
        margin-bottom: 60px;
        .title-box {
            margin-bottom: 8px;
            @include flex-center-space-between;
            @include respond-to('medium') {
                justify-content: flex-start;
            }
        }
        h4 {
            @extend %type-large;
            margin: 0;
            @include respond-to('medium') {
                margin-right: 12px;
            }
        }
        .brand-link {
            display: block;
            margin-bottom: 32px;
            color: $color-primary-light;
        }
    }
    ol {
        list-style-type: none;
        padding: 32px 0 0 0;
        margin: 0;
        border-top: 1px solid $color-border-ultralight;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 12px;
        @include respond-to('medium') {
            justify-content: flex-start;
            gap: 44px;
        }
        li {
            width: 46%;
            padding-bottom: 16px;
            border-bottom: 1px solid $color-border-ultralight;
            margin-bottom: 20px;
            font-family: $font-bold;
            @extend %type-base;
            @include respond-to('medium') {
                width: auto;
                min-width: 110px;
                border-bottom: 0;
                margin-bottom: 0;
            }
            &:last-of-type,
            &:nth-last-of-type(2) {
                border-bottom: 0;
            }
        }
        small {
            @extend %type-tiny;
            font-family: $font-regular;
            color: $color-text-light;
            display: block;
            margin-bottom: 8px;
        }
    }
    .buttons {
        @include respond-to('medium') {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .button {
        display: inline-block;
        &:nth-of-type(2) {
            margin-left: 10px;
            @include respond-to('medium') {
                margin-left: 16px;
            }
        }
        padding: 11px 26px;
        @include respond-to('medium') {
            padding: 12px 32px;
        }
    }
}