.info-footer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    padding: 15px 0;
    background: $color-white;
    filter: drop-shadow(0px -2px 30px rgba(0, 0, 0, 0.07));
    img,
    .round-icon {
        width: 36px;
        height: 36px;
        margin-right: 10px;
        @include respond-to('small') {
            width: 48px;
            height: 48px;
            margin-right: 20px;
        }
        img {
            width: 57%;
            height: auto;
        }
    }
    h4 {
        margin: 0;
    }
    .title-wrap {
        display: inline-block;
        vertical-align: middle;
    }
    .rating>label::before {
        font-size: 0.8em;
    }
    small {
        @extend %type-base;
        color: $color-text-default;
    }
    .button {
        float: right;
        padding: 7px 15px;
        margin-top: 11px;
        @include respond-to('small') {
            padding: 8px 24px;
        }
    }
}