.next-article {
    padding: 30px 0 40px;
    @include respond-to('small') {
        padding: 40px 0;
        border-top: 1px solid $color-border-ultralight;
    }
    @include respond-to('medium') {
        padding: 80px 0;
    }
    p,
    h3 {
        @extend %type-large;
    }
    p {
        color: $color-text-ultralight;
        margin-bottom: 8px;
    }
    h3 {
        margin-bottom: 24px;
        color: $color-text-default;
        font-family: $font-regular;
        @include respond-to('small') {
            width: 50%;
            display: inline-block;
        }
    }
    .button-neutral {
        @include respond-to('small') {
            float: right;
        }
    }
}