.pagination {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .page-numbers {
        margin-right: 4px;
        @extend %type-small;
        color: $color-text-ultralight;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &:last-of-type {
            margin-right: 0;
        }
        &.next,
        &.prev {
            border: 1px solid $color-primary;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: solid $color-primary;
                border-width: 0 1px 1px 0;
                width: 6px;
                height: 6px;
            }
        }
        &.next {
            transform: rotate(-45deg);
        }
        &.prev {
            transform: rotate(135deg);
        }
        &.current {
            background: $color-background-ultralight;
            color: $color-text-default;
        }
        &.disabled {
            display: none;
        }
    }
    a {
        &:hover {
            text-decoration: none;
            color: $color-text-default;
        }
    }
}