.pros-cons {
    margin-bottom: 20px;
    h2 {
        @include respond-to('medium') {
            margin-bottom: 42px;
        }
    }
    h3 {
        margin-bottom: 28px;
    }
    .icon {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        position: relative;
        width: 24px;
        height: 24px;
        margin: 0 12px 2px 0;
    }
    .pros {
        .icon {
            background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), $color-success;
            background-position: center;
            background-size: 8px 2px, 2px 8px;
            background-repeat: no-repeat;
        }
    }
    .cons {
        .icon {
            background-color: $color-warning;
            &::after {
                content: '';
                width: 8px;
                height: 2px;
                background-color: $color-white;
                position: absolute;
                top: 11px;
                left: 8px;
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 24px;
        @include respond-to('medium') {
            margin-bottom: 32px;
        }
    }
    ul {
        li {
            padding: 0 0 0 16px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 9px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $color-primary;
            }
        }
    }
}