/****** Style Star Rating Widget *****/

.rating-wrap {
    small {
        @extend %type-tiny;
        color: $color-text-light;
        display: inline-block;
        vertical-align: middle;
    }
}

.rating {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    margin-bottom: 2px;
    --percent: calc(var(--rating) / 5 * 100%);
    font-size: 19px;
    line-height: 19px;
    font-family: Times; // make sure ★ appears correctly
    &::before {
        content: '★★★★★';
        letter-spacing: 0;
        background: linear-gradient(90deg, $color-rating var(--percent), $color-text-ultralight var(--percent));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// .rating2 {
//     display: inline-block;
//     vertical-align: middle;
//     margin-right: 5px;
//     --percent: calc(var(--rating) / 5 * 100%);
//     font-size: 16px;
//     line-height: 16px;
//     font-family: Times; // make sure ★ appears correctly
//     &::before {
//         content: "\f005 \f005 \f005 \f005 \f005";
//         font-family: FontAwesome;
//         letter-spacing: 0;
//         background: linear-gradient(90deg, $color-rating var(--percent), $color-text-ultralight var(--percent));
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//     }
// }