.rating-box {
    margin-bottom: 44px;
    @include respond-to('medium') {
        max-width: 312px;
        margin-bottom: 60px;
    }
    .head {
        @include flex-center-space-between;
        margin-bottom: 32px;
        h2 {
            margin: 0;
            flex: 1;
            margin-bottom: 0!important;
            @include respond-to('medium') {
                font-size: 25px;
                line-height: 32px;
            }
        }
    }
    .round-icon {
        margin: 0;
        img {
            width: 60%;
            height: auto;
        }
    }
    .round-icon--black {
        background: #11192D;
        box-shadow: none;
        top: 0;
        left: 0;
        img {
            margin: 0;
            top: 50%;
            left: 50%;
            width: 90%;
        }
    }
    .round-icon--abra {
        box-shadow: none;
        top: 0;
        left: 0;
        img {
            top: 0;
            left: 0;
            width: 100%;
            transform: none;
        }
    }
    ol {
        list-style: none;
        padding: 0;
        li {
            position: relative;
            counter-increment: li;
            @extend %type-medium;
            padding: 0 0 16px 24px;
            border-bottom: 1px solid rgba(20, 27, 62, .2);
            margin-bottom: 16px;
        }
        li::before {
            color: $color-text-light;
            @extend %type-medium;
            content: counter(li) ".";
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}