.rcmnd-item {
    background: $color-background-ultralight;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 24px;
    @include respond-to('medium') {
        padding: 32px;
        margin-bottom: 32px;
    }
    &-label {
        display: block;
        color: $color-text-light;
        @extend %type-caption;
        margin-bottom: 12px;
    }
    .rating-wrap {
        margin-bottom: 26px;
    }
    h2,
    h3,
    .rcmnd-item-title {
        display: block;
        font-size: 20px;
        line-height: 28px;
        font-family: $font-bold;
        margin-bottom: 22px;
        font-weight: 700;
        @include respond-to('medium') {
            font-size: 25px;
            line-height: 32px;
        }
    }
    .stars,
    p,
    ul {
        margin-bottom: 24px;
    }
    p,
    li {
        @extend %type-small;
        color: $color-text-default;
        @include respond-to('medium') {
            font-size: 16px;
            line-height: 24px;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            position: relative;
            margin-bottom: 8px;
            padding-left: 16px;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 9px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: $color-primary;
            }
        }
    }
    .button {
        padding: 8px 24px;
    }
}