.round-icon {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
    @include respond-to('medium') {
        margin-right: 24px;
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 57%;
        height: auto;
    }
    &--black {
        background: #11192D;
        box-shadow: none;
        @include respond-to('large') {
            top: 10px;
            left: -112px;
        }
        img {
            margin: 0;
            top: 50%;
            left: 50%;
            width: 90%;
        }
    }
    &--abra {
        box-shadow: none;
        @include respond-to('large') {
            top: 10px;
            left: -112px;
        }
        img {
            top: 0;
            left: 0;
            width: 100%;
            transform: none;
        }
    }
}

.round-coin-icon {
    @extend .round-icon;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
}