.section-header {
    padding-bottom: 40px;
    border-bottom: 1px solid $color-border-ultralight;
    margin-bottom: 40px;
    @include respond-to('medium') {
        padding-bottom: 60px;
        margin-bottom: 60px;
    }
    .title {
        margin-bottom: 24px;
        @include respond-to('medium') {
            margin-bottom: 0;
        }
    }
    .round-icon,
    h2 {
        display: inline-block;
        vertical-align: middle;
    }
    .round-icon {
        margin-right: 24px;
    }
    h2,
    p {
        margin: 0;
    }
    p {
        @extend %type-medium;
        color: $color-text-light;
    }
}