.see-all {
    // text-decoration: underline;
    font-family: $font-medium;
    color: $color-primary;
    position: relative;
    padding-left: 45px;
    padding-right: 5px;
    border-radius: 5px;
    .arrow-right {
        top: 11px;
        left: 4px;
        transition: left 0.3s ease-in-out;
        width: 25px;
    }
    &:hover {
        background-color: $color-border-ultralight;
        text-decoration: none;
        .arrow-right {
            left: 8px;
        }
    }
}