    .table {
        border-collapse: collapse;
        border-spacing: 0;
        @extend %type-tiny;
        td,
        th {
            padding: 16px 10px 16px 24px;
            box-sizing: border-box;
            text-align: left;
            width: auto;
            white-space: nowrap;
            @include respond-to('small') {
                padding: 16px 30px 16px 0;
            }
        }
        thead {
            th {
                color: $color-text-ultralight;
                font-weight: 400;
                padding: 16px 10px 5px 22px;
                @include respond-to('small') {
                    padding: 16px 33px 5px 0;
                }
            }
        }
        .empty,
        tbody th {
            background-color: $color-white;
            position: relative;
            padding: 16px 16px 16px 22px;
            @include respond-to('small') {
                padding: 16px 33px 16px 0;
            }
        }
        tr td:last-of-type,
        thead th:last-of-type {
            padding-right: 45px;
            @include respond-to('medium') {
                padding-right: 20px;
            }
        }
        tbody {
            th {
                color: $color-primary;
                font-family: $font-bold;
                border-bottom: 1px solid $color-white;
                @include respond-to('medium') {
                    border-bottom: 1px solid $color-border-ultralight;
                }
            }
            tr {
                border-bottom: 1px solid $color-border-ultralight;
                &:last-of-type {
                    @include respond-to('small') {
                        border-bottom: 0;
                    }
                    th {
                        border-bottom: 1px solid $color-border-ultralight;
                        @include respond-to('small') {
                            border-bottom: 1px solid $color-white;
                        }
                    }
                }
            }
        }
    }
    
    .dataTables_wrapper {
        position: relative;
        border-top: 1px solid $color-border-ultralight;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            width: 60px;
            height: 100%;
            background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            @include respond-to('medium') {
                display: none;
            }
        }
    }
    
    .dataTable.DTFC_Cloned {
        position: relative;
        &::after {
            content: '';
            width: 16px;
            height: 100%;
            background: linear-gradient( 90deg, #EFEFEF 0%, rgba(255, 255, 255, 0) 100%);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            @include respond-to('medium') {
                display: none;
            }
        }
    }
    
    .dataTables_scroll {
        padding-left: 1px;
        padding-right: 1px;
    }