.text-intro {
    p {
        margin: 0 0 48px 0;
        @extend %type-base;
        color: $color-text-light;
        @include respond-to('medium') {
            font-size: 31px;
            line-height: 40px;
            margin-bottom: 80px;
        }
    }
}