.tooltip-wrap {
    position: relative;
    height: 16px;
    width: auto;
    display: inline-block;
    top: -3px;
    &:first-of-type {
        margin-right: 10px;
    }
    cursor: pointer;
    img {
        height: 100% !important;
        width: auto;
        border-radius: 0 !important;
    }
    .tooltip {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.4s linear, opacity 0.4s ease;
        font-size: 12px;
        line-height: 16px;
        color: $color-white;
        text-align: center;
        background-color: $color-border-medium;
        padding: 4px 12px;
        border-radius: 6px;
        width: max-content;
        position: absolute;
        top: calc(100% + 7px);
        left: 50%;
        transform: translateX(-50%);
        @include respond-to('medium') {
            top: calc(100% + 13px);
        }
        &::after {
            position: absolute;
            content: " ";
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent $color-border-medium transparent;
        }
    }
    &:hover,
    &.hover {
        .tooltip {
            visibility: visible;
            opacity: 1;
        }
    }
}