.about {
    .wallets-head {
        @include respond-to('medium') {
            background-image: url(img/about-hero-bg.svg);
            background-position: top right;
            padding-top: 240px;
        }
        h1 {
            margin-top: 12px;
            @include respond-to('medium') {
                margin: 8px 0 40px 0;
            }
        }
    }
    .round-coin-icon {
        float: left;
        margin-right: 20px;
        @include respond-to('large') {
            margin-right: 24px;
            margin-left: -84px;
        }
        img {
            width: 30px;
        }
    }
    .content {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid $color-border-ultralight;
        @include respond-to('small') {
            margin-bottom: 0;
            border-bottom: 0;
        }
        h2 {
            @include respond-to('medium') {
                font-size: 25px;
                line-height: 32px;
            }
        }
        strong {
            display: block;
            margin-bottom: 24px;
            @include respond-to('medium') {
                font-size: 20px;
                line-height: 28px;
            }
        }
        p {
            color: $color-text-light;
        }
        p,
        strong {
            @include respond-to('small') {
                margin-bottom: 20px;
            }
        }
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    &-info {
        div[class^="col-"]:last-of-type {
            .content {
                margin-bottom: 0;
                border-bottom: 0;
            }
        }
        @include respond-to('medium') {
            margin-bottom: 100px;
        }
    }
    &-team {
        padding: 40px 0 80px 0;
        background: $color-background-ultralight;
        @include respond-to('medium') {
            padding: 80px 0 160px 0;
        }
        h2 {
            margin-bottom: 40px;
            @include respond-to('medium') {
                margin-bottom: 80px;
            }
        }
        .author {
            margin-bottom: 30px;
            @include respond-to('small') {
                display: block;
                margin-bottom: 0;
            }
            &-title {
                @include respond-to('small') {
                    width: 100%;
                }
            }
            p {
                margin-bottom: 20px;
                @include respond-to('small') {
                    width: 100%;
                }
            }
        }
        .social-icon {
            background-color: $color-text-default;
            opacity: 1;
            transition: opacity 0.3s ease;
            &:hover {
                background-color: #575a74;
            }
        }
    }
    &-contact {
        margin: -105px 0 40px 0;
        background: $color-primary url(img/about-contact-bg1.svg) no-repeat bottom left;
        background-position: left -20px bottom -20px;
        background-size: 110%;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
        padding: 40px 24px;
        @include respond-to('small') {
            background-position: left 0px bottom 0px;
            background-size: auto;
            margin: -80px 0 40px 0;
        }
        @include respond-to('medium') {
            margin: -145px 0 100px 0;
            padding: 60px 30px;
        }
        @include respond-to('large') {
            padding: 60px 0 80px 0;
        }
        h2 {
            @extend %type-xlarge;
            color: $color-white;
            margin-bottom: 40px;
            @include respond-to('medium') {
                font-size: 47px;
                line-height: 52px;
            }
        }
        .head {
            @include respond-to('small') {
                padding-right: 30px;
            }
            p {
                @extend %type-base;
                color: $color-text-ultralight;
                margin-bottom: 80px;
                @include respond-to('medium') {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}