.best-exchange {
    .news-head {
        margin-bottom: 24px;
        @include respond-to('medium') {
            background-image: url("img/bg-img1.svg");
            background-position: right top;
            padding-bottom: 112px;
            margin-bottom: 100px;
        }
    }
}