.best-wallets {
    .brand {
        background: $color-white;
    }
    .info ol {
        li {
            &:nth-last-of-type(2) {
                border-bottom: 1px solid $color-border-ultralight;
                @include respond-to('medium') {
                    border-bottom: 0;
                }
            }
        }
    }
}