.compare {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 70vh;
    @include respond-to('medium') {
        padding-top: 0;
        padding-bottom: 40px;
    }
    h1 {
        margin-bottom: 40px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .selection-box {
        // margin-bottom: 80px;
        max-width: 480px;
    }
    .title {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        h3 {
            margin: 0;
        }
    }
    .number {
        flex: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color-primary;
        margin-right: 24px;
        @extend %type-medium;
        font-family: $font-bold;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    li {
        margin-bottom: 16px;
        background: $color-background-ultralight;
        border-radius: 28px;
        transition: all 0.3s ease;
        a {
            display: block;
            padding: 10px 20px;
            color: $color-text-default;
            @extend %type-medium;
            font-family: $font-bold;
        }
        &:hover {
            background-color: rgba(51, 69, 163, 0.2);
            a {
                text-decoration: none;
            }
        }
    }
    .all-comparisons {
        margin-top: 80px;
        @include respond-to('medium') {
            margin-top: 140px;
        }
        &>h2 {
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 30px;
            @include respond-to('medium') {
                margin-bottom: 50px;
            }
        }
    }
    .comparison {
        padding-bottom: 40px;
        h2 {
            @extend %type-medium;
        }
        span {
            display: block;
            font-family: $font-regular;
        }
        >a {
            color: $color-text-default;
            transition: all 0.3s ease;
            &:last-of-type {
                h3 {
                    border-bottom: 0;
                    margin-bottom: 0;
                }
            }
            &:hover {
                text-decoration: none;
                color: $color-primary;
            }
        }
        h3 {
            @extend %type-base;
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid $color-border-ultralight;
        }
        .round-icon {
            width: 56px;
            height: 56px;
        }
        .caption {
            margin-bottom: 30px;
            @include respond-to('medium') {
                margin-bottom: 45px;
            }
        }
    }
    .compare-buttons {
        margin-bottom: 24px;
        @include respond-to('medium') {
            margin-bottom: 45px;
        }
        button,
        .button {
            display: inline-block;
            padding: 8px 24px;
            &:first-of-type {
                margin-right: 16px;
            }
        }
    }
    .child-wrap {
        display: none;
    }
    &-title {
        span {
            text-transform: lowercase;
            &:last-of-type {
                &:before {
                    content: " and ";
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}