// HOME PAGE
.home-hero,
.home-explore {
    background-color: $color-background-ultralight;
}

.home-hero {
    background-image: url(img/bg-img1.svg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 55%;
    @include respond-to('small') {
        background-position: right -90px top;
        background-size: inherit;
    }
    h1 {
        max-width: 600px;
        color: $color-primary;
        @include respond-to('medium') {
            margin-bottom: 40px;
        }
    }
    p {
        max-width: 420px;
        margin-bottom: 20px;
        color: $color-border-medium;
    }
    &__wrap {
        border-bottom: 1px solid $color-border-ultralight;
        padding: 35px 0;
        @include respond-to('medium') {
            padding: 100px 0;
        }
    }
}

.home-explore {
    padding: 35px 0 10px 0;
    @include respond-to('medium') {
        padding: 100px 0 20px 0;
    }
    &__head {
        margin-bottom: 40px;
        @include respond-to('medium') {
            margin-bottom: 55px;
        }
        h2 {
            @include respond-to('xsmall') {
                max-width: 60%;
                display: inline-block;
                margin-right: 50px;
            }
        }
        .button {
            display: inline-block;
            @include respond-to('xsmall') {
                float: right;
            }
        }
    }
}

.home-recently {
    padding: 30px 0 10px 0;
    @include respond-to('medium') {
        padding: 100px 0 30px 0;
    }
    h2 {
        margin-bottom: 40px;
        @include respond-to('medium') {
            margin-bottom: 80px;
        }
    }
    div[class^="col-"]:last-of-type {
        .global-item {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.explore-item {
    display: flex;
    margin-bottom: 25px;
    @include respond-to('medium') {
        margin-bottom: 45px;
    }
    .round-icon {
        margin-right: 12px;
        @include respond-to('medium') {
            margin-right: 24px;
        }
    }
    h3 {
        margin-bottom: 12px;
        color: $color-text-default;
        transition: all 0.3s ease;
    }
    p {
        color: $color-border-medium;
        a {
            text-decoration: underline;
            transition: all 0.3s ease;
            &:hover {
                color: $color-text-default;
            }
        }
    }
    .explore-content {
        >a {
            &:hover {
                text-decoration: none;
                h3 {
                    color: $color-primary;
                }
            }
            &[href="#"] {
                pointer-events: none;
                cursor: default;
                &:hover {
                    text-decoration: none;
                    h3 {
                        color: $color-text-default;
                    }
                }
            }
        }
        @include respond-to('medium') {
            max-width: 300px;
        }
    }
}