// HOME CRYPTO PAGE
.crypto {
    &-head {
        background-color: $color-background-ultralight;
        padding: 40px 0;
        @include respond-to('medium') {
            padding: 80px 0;
        }
        h1 {
            margin-bottom: 40px;
            @extend %type-large;
            color: $color-primary;
            max-width: 520px;
            padding-left: 24px;
            @include respond-to('xsmall') {
                padding-left: 0;
            }
            @include respond-to('medium') {
                margin-bottom: 64px;
                font-size: 47px;
                line-height: 52px;
            }
        }
        .container {
            padding: 0;
            @include respond-to('xsmall') {
                padding-right: 24px;
                padding-left: 24px;
            }
        }
        .carousel {
            margin-left: -26px;
            overflow: hidden;
            max-height: 284px;
            @include respond-to('xsmall') {
                margin-left: 0;
                overflow: none;
            }
            /* the slides */
            .slick-slide {
                margin: 0 12px;
                @include respond-to('small') {
                    margin: 0 20px;
                }
            }
            /* the parent */
            .slick-list {
                margin: 0 -12px;
                @include respond-to('small') {
                    margin: 0 -20px;
                }
            }
            button {
                transition: all 0.3s ease;
            }
            .item {
                height: 284px;
                border-radius: 24px;
                background-color: $color-primary;
                background-repeat: no-repeat;
                background-position: right top;
                padding: 28px;
                position: relative;
                &:hover {
                    button {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
            h3 {
                color: $color-white;
                position: absolute;
                bottom: 28px;
                left: 28px;
                right: 28px;
                margin: 0;
                @include respond-to('medium') {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
    h2 {
        @include respond-to('medium') {
            font-size: 25px;
            line-height: 32px;
        }
    }
    &-guides {
        background-color: $color-background-ultralight;
        .caption {
            margin-bottom: 32px;
            @include respond-to('medium') {
                margin-bottom: 60px;
            }
        }
    }
    &-guide {
        padding-top: 24px;
        padding-bottom: 8px;
        @include respond-to('medium') {
            padding-top: 40px;
            padding-bottom: 30px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .arrow-right {
            opacity: 0;
            transform: translateX(-10px);
            transition: transform 0.4s ease-in-out, opacity 0.4s ease;
        }
        a {
            @extend %type-medium;
            color: $color-text-default;
            display: block;
            flex: 1;
            padding-bottom: 16px;
            transition: all 0.3 ease;
            @include respond-to('medium') {
                padding-bottom: 24px;
            }
            &:hover,
            &:focus {
                text-decoration: none;
                color: $color-primary;
                .arrow-right {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
        li {
            margin-bottom: 16px;
            position: relative;
            border-bottom: 1px solid rgba(20, 27, 62, 0.15);
            @include respond-to('small') {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            @include respond-to('medium') {
                margin-bottom: 24px;
            }
            &:last-of-type {
                @include respond-to('medium') {
                    border-bottom: 0;
                }
            }
        }
        .star {
            margin-bottom: 16px;
            img {
                margin-right: 7px;
            }
            span {
                @extend %type-tiny;
                vertical-align: middle;
                color: $color-text-light;
            }
        }
    }
    .rating-wrap {
        margin-bottom: 15px;
    }
    .reviews {
        li {
            padding-right: 0;
        }
    }
    &-comparisons {
        padding-top: 24px;
        @include respond-to('medium') {
            padding-top: 100px;
        }
        div[class^="col-"]:last-of-type {
            .global-item {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    &-news {
        padding-top: 24px;
        @include respond-to('medium') {
            padding-top: 40px;
        }
        div[class^="col-"] {
            margin-bottom: 40px;
            @include respond-to('medium') {
                margin-bottom: 84px;
            }
        }
        .news-item {
            h4 {
                margin-bottom: 16px;
                color: $color-text-default;
                transition: color 0.2s ease;
            }
            .update-desktop {
                @include respond-to('medium') {
                    margin-bottom: 16px;
                }
            }
            .update-mobile {
                margin: 0;
                float: left;
            }
            a {
                &:focus,
                &:hover {
                    text-decoration: none;
                    h4 {
                        color: $color-primary;
                    }
                }
            }
        }
    }
}