.learn {
    h2 {
        max-width: 312px;
        margin-bottom: 40px;
        @include respond-to('medium') {
            margin-bottom: 80px;
            margin-top: 20px;
        }
    }
    div[class^="col-"]:last-of-type {
        .global-item {
            border-bottom: 0;
        }
    }
}

.crypto-slider--learn {
    padding: 0 0 40px 0;
    background-color: #fff;
    @include respond-to('medium') {
        padding: 0 0 80px 0;
    }
    h2 {
        margin-bottom: 40px;
        padding-left: 24px;
        @include respond-to('xsmall') {
            padding-left: 0;
        }
    }
}