.news {
    &-head {
        padding-top: 16px;
        margin-bottom: 40px;
        @include respond-to('medium') {
            padding: 160px 0 80px 0;
            background: $color-background-ultralight url("img/bg-img.svg") no-repeat;
            margin-bottom: 100px;
        }
        h1 {
            margin-bottom: 0;
        }
    }
    &-items {
        @include respond-to('medium') {
            margin-bottom: 20px;
        }
    }
    .global-item {
        @include respond-to('medium') {
            padding-bottom: 80px;
        }
    }
    div[class^="col-"]:last-of-type {
        .global-item {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }
    .pagination {
        @include respond-to('medium') {
            display: none;
        }
    }
}