.page-list {
    padding: 24px 0 30px 0;
    @include respond-to('medium') {
        padding: 140px 0 120px 0;
    }
    h1 {
        margin-bottom: 24px;
        @include respond-to('medium') {
            margin-bottom: 0;
        }
    }
    &__head {
        margin-bottom: 60px;
        @include respond-to('medium') {
            margin-bottom: 80px;
        }
        p {
            @extend %type-base;
            color: $color-text-light;
            margin: 0;
            padding: 0;
            @include respond-to('medium') {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
    h2 {
        margin-bottom: 40px;
        @include respond-to('medium') {
            margin-bottom: 60px;
        }
    }
    .coins-wrap {
        @include respond-to('small') {
            display: flex;
            flex-wrap: wrap;
            margin-left: -9%;
        }
        @include respond-to('medium') {
            margin-left: -6%;
        }
        .coin {
            @include respond-to('small') {
                width: 40%;
                flex: 1 1 40%;
                max-width: 40%;
                margin-left: 9%;
            }
            @include respond-to('medium') {
                width: 27%;
                flex: 1 1 27%;
                max-width: 27%;
                margin-left: 6%;
            }
        }
    }
}