.search-results {
    padding-top: 20px;
    @include respond-to('medium') {
        padding-top: 40px;
    }
    h1 {
        margin-bottom: 64px;
        span {
            font-family: $font-regular;
        }
    }
    h3 {
        color: $color-text-default;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid $color-border-ultralight;
        &:last-of-type {
            border-bottom: 0;
        }
    }
}