.single-learn {
    h1 {
        @extend %type-large;
        @include respond-to('medium') {
            font-size: 47px;
            line-height: 52px;
        }
    }
    .intro {
        padding: 40px 0;
        margin-bottom: 40px;
        background: $color-background-ultralight;
        @include respond-to('medium') {
            background: none;
            padding: 0;
            margin-bottom: 80px;
        }
        p {
            @extend %type-medium;
            color: $color-text-light;
            @include respond-to('medium') {
                font-size: 31px;
                line-height: 40px;
            }
        }
    }
    .news-head {
        padding-top: 0;
        @include respond-to('medium') {
            padding: 80px 0;
            background-image: url("img/single-learn-bg.svg");
            background-position: bottom right;
        }
        div[class*="col-"] {
            >a {
                display: block;
                margin-bottom: 12px;
                @extend %type-small;
                text-decoration: underline;
                @include respond-to('medium') {
                    margin-bottom: 40px;
                }
            }
        }
    }
    // ----------------------------- ol and ul
    ul,
    ol {
        list-style: none;
        padding: 0;
        margin-bottom: 24px;
        @include respond-to('medium') {
            margin-bottom: 32px;
        }
    }
    ul {
        li {
            padding: 0 0 0 16px;
            position: relative;
            margin-bottom: 12px;
            &::before {
                content: '';
                position: absolute;
                top: 9px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $color-primary;
            }
        }
    }
    ol {
        li {
            padding-left: 24px;
            margin-bottom: 12px;
            position: relative;
            counter-increment: li;
            &::before {
                color: $color-text-ultralight;
                @extend %type-tiny;
                content: counter(li) ".";
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
    }
}