.single-coin {
    .round-coin-icon {
        margin: -7px 20px 0 0;
        @include respond-to('large') {
            margin: 0;
            position: absolute;
            top: -12px;
            left: -112px;
        }
        width: 72px;
        height: 72px;
    }
    .title {
        .round-coin-icon img {
            margin: 0;
            top: 50%;
            left: 50%;
        }
        .round-icon--abra {
            img {
                top: 0;
                left: 0;
            }
        }
        span {
            @extend %type-caption;
            color: $color-text-light;
            margin-left: 1px;
        }
    }
    .name {
        margin-top: 7px;
        @include respond-to('medium') {
            margin: 0;
        }
    }
    .price {
        display: flex;
        width: 100%;
        margin-top: 15px;
        @include respond-to('medium') {
            width: auto;
            margin-top: 0;
            margin-left: 40px;
        }
        .with-line {
            position: relative;
            padding-right: 36px;
            margin-right: 24px;
            &::after {
                content: '';
                height: 48px;
                width: 1px;
                background: $color-border-ultralight;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        em {
            font-style: normal;
            @extend %type-caption;
            color: $color-text-light;
            display: block;
            margin-bottom: 4px;
        }
        h3 {
            margin: 0;
        }
        &-icon-up,
        &-icon-down {
            position: absolute;
            right: 15px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            &:after,
            &:before {
                content: "";
            }
            &::before {
                left: -2px;
                bottom: -9px;
                position: absolute;
                width: 4px;
                height: 5px;
                background: $color-success;
            }
            &::after {
                position: absolute;
                left: -2px;
                bottom: -12px;
                height: 1px;
                width: 4px;
                background: $color-success;
            }
        }
        &-icon-up {
            top: 27px;
            border-bottom: 5px solid $color-success;
        }
        &-icon-down {
            top: 34px;
            border-bottom: 5px solid $color-warning;
            transform: rotate(180deg);
            display: none;
            &::before {
                background: $color-warning;
            }
            &::after {
                background: $color-warning;
            }
        }
    }
    .coin {
        margin-bottom: 16px;
        @include respond-to('medium') {
            max-width: 312px;
        }
        h4 {
            @extend %type-medium;
        }
    }
    &.single-wallets .info {
        ol {
            @include respond-to('medium') {
                justify-content: flex-start;
            }
            li {
                @include respond-to('medium') {
                    width: calc(25% - 23px);
                }
            }
        }
    }
    .content {
        margin-bottom: 24px;
        @include respond-to('medium') {
            margin-bottom: 40px;
        }
    }
    &-carousel {
        overflow: hidden;
        .container {
            padding: 0;
            @include respond-to('xsmall') {
                padding-right: 24px;
                padding-left: 24px;
            }
        }
        h2 {
            margin-bottom: 40px;
            padding-left: 24px;
            @include respond-to('xsmall') {
                padding-left: 0;
            }
            @include respond-to('medium') {
                margin-bottom: 48px;
            }
        }
    }
    .info-footer {
        .round-coin-icon {
            margin: 0 10px 0 0;
            width: 36px;
            height: 36px;
            display: inline-block;
            vertical-align: middle;
            @include respond-to('small') {
                margin: 0 20px 0 0;
                width: 48px;
                height: 48px;
            }
            @include respond-to('large') {
                position: relative;
                top: 0;
                left: 0;
            }
            img {
                max-width: 20px;
            }
        }
        .button {
            margin-top: 3px;
            @include respond-to('small') {
                margin-top: 8px;
            }
        }
    }
}

.page-template-single-coin-template {
    padding-bottom: 50px;
}