.single-compare {
    padding-top: 16px;
    @include respond-to('medium') {
        padding-top: 140px;
    }
    h1 {
        max-width: 520px;
        margin-bottom: 24px;
        @include respond-to('medium') {
            padding-top: 0;
        }
    }
}