.single-news {
    padding-top: 16px;
    @include respond-to('medium') {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .update {
        margin-bottom: 40px;
        @extend %type-small;
    }
    h1 {
        @extend %type-large;
        margin-bottom: 40px;
        @include respond-to('medium') {
            font-size: 47px;
            line-height: 52px;
            margin-bottom: 90px;
        }
    }
    .text-intro {
        @extend %type-medium;
        color: $color-text-light;
        margin-bottom: 40px;
        @include respond-to('medium') {
            font-size: 31px;
            line-height: 40px;
            margin-bottom: 76px;
        }
    }
    img {
        height: auto;
    }
}