.single-wallets {
    padding-top: 40px;
    @include respond-to('medium') {
        padding-top: 142px;
    }
    .intro {
        margin-bottom: 50px;
        @include respond-to('medium') {
            margin-bottom: 80px;
        }
        p {
            @extend %type-base;
            color: $color-text-light;
            margin: 0;
            @include respond-to('medium') {
                font-size: 31px;
                line-height: 40px;
            }
        }
    }
    .title {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include respond-to('large') {
            margin-bottom: 48px;
            position: relative;
        }
        .round-icon {
            width: 72px;
            height: 72px;
            margin: 0 20px 24px 0;
            @include respond-to('large') {
                margin: 0;
                position: absolute;
                top: 0px;
                left: -112px;
            }
        }
        h1 {
            margin: 0;
        }
        .name {
            flex: 1;
            margin-bottom: 24px;
            @include respond-to('small') {
                margin: 0;
            }
            @include respond-to('large') {
                max-width: 60%;
            }
        }
        span {
            display: block;
            @extend %type-tiny;
            color: $color-text-light;
            margin-bottom: 8px;
            @include respond-to('large') {
                margin-bottom: 15px;
            }
        }
        small {
            @extend %type-large;
            color: $color-text-default;
        }
        .rating-wrap {
            @include respond-to('medium') {
                width: 25%;
            }
        }
    }
    .info {
        ol {
            @include respond-to('medium') {
                justify-content: space-between;
                gap: 30px;
            }
            li {
                @include respond-to('medium') {
                    min-width: unset;
                    width: calc(25% - 23px);
                }
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    @include respond-to('medium') {
                        border-bottom: 1px solid $color-border-ultralight;
                    }
                }
            }
        }
        .button {
            margin: 0;
        }
    }
    .info-footer {
        .round-icon {
            margin: 0 10px 0 0;
            width: 36px;
            height: 36px;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            @include respond-to('small') {
                width: 48px;
                height: 48px;
            }
            @include respond-to('medium') {
                margin: 0 20px 0 0;
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }
}

.page-template-single-wallets-template {
    padding-bottom: 80px;
}