.single-exchanges {
    .title {
        .rating-wrap {
            width: 100%;
            @include respond-to('medium') {
                width: 25%;
                margin-left: 40px;
            }
        }
    }
    .info-footer {
        .round-icon {
            margin: 0 10px 0 0;
            width: 36px;
            height: 36px;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            @include respond-to('small') {
                width: 48px;
                height: 48px;
            }
            @include respond-to('medium') {
                margin: 0 20px 0 0;
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }
}

.page-template-single-exchanges-template {
    padding-bottom: 60px;
}