.single-country {
    padding-top: 16px;
    @include respond-to('medium') {
        padding-top: 138px;
    }
    .title {
        margin-bottom: 40px;
        @include respond-to('small') {
            display: flex;
            align-items: center;
        }
        @include respond-to('large') {
            margin-bottom: 90px;
            margin-left: -88px;
        }
        h1 {
            margin: 0;
            @include respond-to('small') {
                flex: 1;
            }
        }
    }
    .round-coin-icon {
        margin-right: 20px;
        margin-bottom: 20px;
        @include respond-to('small') {
            margin-bottom: 0;
        }
        @include respond-to('medium') {
            margin-right: 24px;
        }
    }
    .round-icon--black {
        top: 0;
        left: 0;
    }
    .round-icon--abra {
        top: 0;
        left: 0;
    }
}