.wallets {
    &-head {
        padding: 40px 0;
        background: $color-background-ultralight;
        @include respond-to('medium') {
            padding: 160px 0 80px 0;
            background: $color-background-ultralight url("img/bg-img.svg") no-repeat;
        }
        h1 {
            margin-bottom: 40px;
            max-width: 520px;
            @include respond-to('medium') {
                margin-bottom: 80px;
            }
        }
        p {
            color: $color-text-light;
            @extend %type-medium;
            @include respond-to('medium') {
                font-size: 25px;
                line-height: 32px;
            }
        }
    }
    .items-wrap {
        @include respond-to('medium') {
            margin-bottom: 80px;
        }
        &:last-of-type {
            @include respond-to('medium') {
                margin-bottom: 20px;
            }
        }
    }
    div[class^="col-"]:last-of-type {
        .global-item {
            border-bottom: 0;
        }
    }
}