@charset "UTF-8";
@-webkit-keyframes heartpop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes heartpop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@media (max-width: 576px) {
  .woocommerce.mobile-columns-1 ul.products > li.product,
  .woocommerce-page.mobile-columns-1 ul.products > li.product {
    width: 100%;
    margin-right: 0; }
  .woocommerce.mobile-columns-2 ul.products > li.product,
  .woocommerce-page.mobile-columns-2 ul.products > li.product {
    width: 48.1%;
    margin-right: 3.8%; }
    .woocommerce.mobile-columns-2 ul.products > li.product:nth-child(2n+2),
    .woocommerce-page.mobile-columns-2 ul.products > li.product:nth-child(2n+2) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.mobile-columns-3 ul.products > li.product,
  .woocommerce-page.mobile-columns-3 ul.products > li.product {
    width: 30.8%;
    margin-right: 3.8%; }
    .woocommerce.mobile-columns-3 ul.products > li.product:nth-child(3n+3),
    .woocommerce-page.mobile-columns-3 ul.products > li.product:nth-child(3n+3) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.mobile-columns-4 ul.products > li.product,
  .woocommerce-page.mobile-columns-4 ul.products > li.product {
    width: 22.15%;
    margin-right: 3.8%; }
    .woocommerce.mobile-columns-4 ul.products > li.product:nth-child(4n+4),
    .woocommerce-page.mobile-columns-4 ul.products > li.product:nth-child(4n+4) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.mobile-columns-5 ul.products > li.product,
  .woocommerce-page.mobile-columns-5 ul.products > li.product {
    width: 16.96%;
    margin-right: 3.8%; }
    .woocommerce.mobile-columns-5 ul.products > li.product:nth-child(5n+5),
    .woocommerce-page.mobile-columns-5 ul.products > li.product:nth-child(5n+5) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.mobile-columns-6 ul.products > li.product,
  .woocommerce-page.mobile-columns-6 ul.products > li.product {
    width: 13.5%;
    margin-right: 3.8%; }
    .woocommerce.mobile-columns-6 ul.products > li.product:nth-child(6n+6),
    .woocommerce-page.mobile-columns-6 ul.products > li.product:nth-child(6n+6) {
      margin-right: 0;
      margin-left: -1px; } }

@media (min-width: 576px) and (max-width: 959px) {
  .woocommerce.tablet-columns-1 ul.products > li.product,
  .woocommerce-page.tablet-columns-1 ul.products > li.product {
    width: 100%;
    margin-right: 0; }
  .woocommerce.tablet-columns-2 ul.products > li.product,
  .woocommerce-page.tablet-columns-2 ul.products > li.product {
    width: 48.1%;
    margin-right: 3.8%; }
    .woocommerce.tablet-columns-2 ul.products > li.product:nth-child(2n+2),
    .woocommerce-page.tablet-columns-2 ul.products > li.product:nth-child(2n+2) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.tablet-columns-3 ul.products > li.product,
  .woocommerce-page.tablet-columns-3 ul.products > li.product {
    width: 30.8%;
    margin-right: 3.8%; }
    .woocommerce.tablet-columns-3 ul.products > li.product:nth-child(3n+3),
    .woocommerce-page.tablet-columns-3 ul.products > li.product:nth-child(3n+3) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.tablet-columns-4 ul.products > li.product,
  .woocommerce-page.tablet-columns-4 ul.products > li.product {
    width: 22.15%;
    margin-right: 3.8%; }
    .woocommerce.tablet-columns-4 ul.products > li.product:nth-child(4n+4),
    .woocommerce-page.tablet-columns-4 ul.products > li.product:nth-child(4n+4) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.tablet-columns-5 ul.products > li.product,
  .woocommerce-page.tablet-columns-5 ul.products > li.product {
    width: 16.96%;
    margin-right: 3.8%; }
    .woocommerce.tablet-columns-5 ul.products > li.product:nth-child(5n+5),
    .woocommerce-page.tablet-columns-5 ul.products > li.product:nth-child(5n+5) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.tablet-columns-6 ul.products > li.product,
  .woocommerce-page.tablet-columns-6 ul.products > li.product {
    width: 13.5%;
    margin-right: 3.8%; }
    .woocommerce.tablet-columns-6 ul.products > li.product:nth-child(6n+6),
    .woocommerce-page.tablet-columns-6 ul.products > li.product:nth-child(6n+6) {
      margin-right: 0;
      margin-left: -1px; } }

@media (min-width: 960px) {
  .woocommerce.desktop-columns-1 ul.products > li.product,
  .woocommerce-page.desktop-columns-1 ul.products > li.product {
    width: 100%;
    margin-right: 0; }
  .woocommerce.desktop-columns-2 ul.products > li.product,
  .woocommerce-page.desktop-columns-2 ul.products > li.product {
    width: 48.1%;
    margin-right: 3.8%; }
    .woocommerce.desktop-columns-2 ul.products > li.product:nth-child(2n+2),
    .woocommerce-page.desktop-columns-2 ul.products > li.product:nth-child(2n+2) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.desktop-columns-3 ul.products > li.product,
  .woocommerce-page.desktop-columns-3 ul.products > li.product {
    width: 30.8%;
    margin-right: 3.8%; }
    .woocommerce.desktop-columns-3 ul.products > li.product:nth-child(3n+3),
    .woocommerce-page.desktop-columns-3 ul.products > li.product:nth-child(3n+3) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.desktop-columns-4 ul.products > li.product,
  .woocommerce-page.desktop-columns-4 ul.products > li.product {
    width: 22.15%;
    margin-right: 3.8%; }
    .woocommerce.desktop-columns-4 ul.products > li.product:nth-child(4n+4),
    .woocommerce-page.desktop-columns-4 ul.products > li.product:nth-child(4n+4) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.desktop-columns-5 ul.products > li.product,
  .woocommerce-page.desktop-columns-5 ul.products > li.product {
    width: 16.96%;
    margin-right: 3.8%; }
    .woocommerce.desktop-columns-5 ul.products > li.product:nth-child(5n+5),
    .woocommerce-page.desktop-columns-5 ul.products > li.product:nth-child(5n+5) {
      margin-right: 0;
      margin-left: -1px; }
  .woocommerce.desktop-columns-6 ul.products > li.product,
  .woocommerce-page.desktop-columns-6 ul.products > li.product {
    width: 13.5%;
    margin-right: 3.8%; }
    .woocommerce.desktop-columns-6 ul.products > li.product:nth-child(6n+6),
    .woocommerce-page.desktop-columns-6 ul.products > li.product:nth-child(6n+6) {
      margin-right: 0;
      margin-left: -1px; } }

.woocommerce .nv-shop > .products {
  display: flex;
  flex-wrap: wrap; }
  .woocommerce .nv-shop > .products li.product {
    float: none; }

.nv-image-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .nv-image-buttons .nv-product-overlay-link {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    transition: .2s ease;
    opacity: 0; }
    .nv-image-buttons .nv-product-overlay-link.overlay {
      background-color: rgba(0, 0, 0, 0.5); }
  .nv-image-buttons a {
    opacity: 0;
    transition: .2s ease;
    visibility: hidden; }
  .nv-image-buttons a.button {
    max-width: 95%; }
  .nv-image-buttons a.add_to_cart_button, .nv-image-buttons a.button.product_type_external, .nv-image-buttons a.product_type_variable, .nv-image-buttons a.product_type_grouped {
    margin-bottom: 10px; }
  .nv-image-buttons a.added_to_cart {
    margin-bottom: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    font-weight: 600;
    color: #fff; }
    .nv-image-buttons a.added_to_cart:hover {
      background: transparent; }
    .nv-image-buttons a.added_to_cart:hover {
      background-color: #fff;
      color: #333; }
  .nv-image-buttons:hover a, .nv-image-buttons:focus a {
    visibility: visible;
    opacity: 1;
    z-index: 3; }

.woocommerce a.nv-quick-view-product {
  font-size: .8em;
  font-weight: 600;
  padding: 6px 12px;
  transition: all .15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.68421;
  font-family: inherit;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 600;
  color: #fff; }
  .woocommerce a.nv-quick-view-product:hover {
    text-decoration: none;
    opacity: .9; }
  .woocommerce a.nv-quick-view-product:hover {
    background: transparent; }
  .woocommerce a.nv-quick-view-product:hover {
    background-color: #fff;
    color: #333; }
  .woocommerce a.nv-quick-view-product.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: 9px 5px;
    background-color: #ececec;
    color: #333;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.07); }

.woocommerce .nv-list ul.products.columns-neve li.product:not(.product-category), .woocommerce-page .nv-list ul.products.columns-neve li.product:not(.product-category) {
  display: flex;
  width: 100%;
  margin-right: 0; }

.nv-list .columns-neve .nv-card-content-wrapper {
  display: flex;
  width: 100%;
  position: relative; }

.nv-list .columns-neve .nv-product-image {
  flex-grow: 0;
  margin-bottom: auto; }
  .nv-list .columns-neve .nv-product-image img {
    max-width: 100%;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0; }
    .nv-list .columns-neve .nv-product-image img:first-of-type {
      display: block;
      position: relative; }

.nv-list .columns-neve .nv-product-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 25px;
  justify-content: center; }
  .nv-list .columns-neve .nv-product-content.inline {
    flex-direction: initial;
    justify-content: left; }
  @media (max-width: 768px) {
    .nv-list .columns-neve .nv-product-content .woocommerce-product-details__short-description {
      display: none; } }

.nv-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility linear 0.1s, opacity 0.3s ease; }
  .nv-modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s; }
  .nv-modal .nv-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.7); }
  .nv-modal .nv-modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    outline: none;
    background: none;
    font-size: 24px;
    color: #747474;
    z-index: 10000; }
    .nv-modal .nv-modal-close:hover {
      color: #000; }
  .nv-modal .is-loading .nv-modal-inner-content {
    display: none; }
  .nv-modal .nv-loader-wrap {
    display: none; }
  .nv-modal .is-loading .nv-loader-wrap {
    display: flex;
    align-items: center;
    height: 100%; }
    .nv-modal .is-loading .nv-loader-wrap .nv-loader {
      display: block; }
  .nv-modal .request-notice {
    padding: 10px;
    margin: 10px;
    height: auto;
    border-left: 3px solid #dc3232;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .nv-modal .nv-modal-inner-content .summary.entry-summary {
    float: none;
    display: flex;
    box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    overflow-x: hidden; }
  .nv-modal .nv-modal-inner-content .summary-content {
    max-height: 100%;
    overflow-y: auto;
    margin-right: -50px;
    padding: 30px 60px 30px 30px;
    width: 100%; }
  .nv-modal .nv-modal-container {
    overflow: auto;
    position: relative;
    z-index: 100001;
    width: 90%;
    max-width: 1000px;
    height: 85%;
    top: 60px;
    box-shadow: 0 0 10px -2px #000;
    margin: 0 auto;
    background-color: var(--nv-site-bg); }
    .nv-modal .nv-modal-container .nv-qv-gallery-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      width: 100%;
      position: relative;
      overflow: hidden; }
      .nv-modal .nv-modal-container .nv-qv-gallery-wrap .nv-slider-controls {
        position: absolute;
        z-index: 200000;
        top: 50%;
        transform: translateY(-50%);
        width: 100%; }
        .nv-modal .nv-modal-container .nv-qv-gallery-wrap .nv-slider-controls a {
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.1); }
          .nv-modal .nv-modal-container .nv-qv-gallery-wrap .nv-slider-controls a:hover {
            background-color: rgba(0, 0, 0, 0.5); }
          .nv-modal .nv-modal-container .nv-qv-gallery-wrap .nv-slider-controls a polyline {
            stroke: #fff; }
        .nv-modal .nv-modal-container .nv-qv-gallery-wrap .nv-slider-controls .prev {
          float: left; }
        .nv-modal .nv-modal-container .nv-qv-gallery-wrap .nv-slider-controls .next {
          float: right; }
    .nv-modal .nv-modal-container .nv-slider-gallery {
      display: flex;
      align-items: center; }
    .nv-modal .nv-modal-container .nv-modal-inner-content, .nv-modal .nv-modal-container .product {
      height: 100%; }
    .nv-modal .nv-modal-container .onsale.outside {
      top: 0; }
  .nv-modal div.product span.onsale {
    left: 0; }

.qv-actions {
  margin-bottom: 20px; }
  .qv-actions.variable form.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center; }
  .qv-actions.variable table.variations {
    grid-column-start: 1;
    grid-column-end: -1; }
  .qv-actions.variable .single_variation_wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-start: 1;
    grid-column-end: -1; }
    .qv-actions.variable .single_variation_wrap .single_variation {
      grid-column-start: 1;
      grid-column-end: -1; }
    .qv-actions.variable .single_variation_wrap .woocommerce-variation-add-to-cart {
      grid-column-start: 1;
      grid-column-end: 6; }
      .qv-actions.variable .single_variation_wrap .woocommerce-variation-add-to-cart button {
        width: 100%; }
    .qv-actions.variable .single_variation_wrap .more-details {
      grid-column-start: 7;
      grid-column-end: -1; }
  .qv-actions.simple {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center; }
    .qv-actions.simple form.cart {
      grid-column-start: 1;
      grid-column-end: 6;
      margin-bottom: 0 !important; }
      .qv-actions.simple form.cart button {
        width: 100%; }
    .qv-actions.simple .more-details {
      grid-column-start: 7;
      grid-column-end: -1; }
    .qv-actions.simple .stock {
      grid-column-start: 1;
      grid-column-end: -1; }

.woocommerce ul.products li.product .woocommerce-product-details__short-description strong {
  display: inline; }

.product .nv-card-content-wrapper {
  position: relative;
  width: 100%; }

.product .nv-product-image img {
  transition: all 0.3s; }

.product .nv-product-image.zoom .img-wrap {
  display: block;
  overflow: hidden; }

.product .nv-product-image.swipe img:nth-of-type(2) {
  display: none; }

.product .nv-product-image.fadein img {
  opacity: .7; }

.product .nv-product-image.colorize img {
  filter: grayscale(100%); }

.product:hover > .nv-card-content-wrapper > .nv-product-image.zoom img {
  transform: scale(1.1); }

.product:hover > .nv-card-content-wrapper > .nv-product-image.swipe img:nth-of-type(2) {
  display: block;
  position: absolute;
  top: 0; }

.product:hover > .nv-card-content-wrapper > .nv-product-image.blur img {
  filter: blur(5px); }

.product:hover > .nv-card-content-wrapper > .nv-product-image.fadein img {
  opacity: 1; }

.product:hover > .nv-card-content-wrapper > .nv-product-image.fadeout img {
  opacity: .7; }

.product:hover > .nv-card-content-wrapper > .nv-product-image.glow img {
  filter: brightness(1.1); }

.product:hover > .nv-card-content-wrapper > .nv-product-image.grayscale img {
  filter: grayscale(100%); }

.product:hover > .nv-card-content-wrapper > .nv-product-image.colorize img {
  filter: grayscale(0%); }

.woocommerce ul.products li.product.product-category img {
  margin: 0; }

.woocommerce ul.products li.product.product-category a {
  margin: 0 0 1em;
  display: inline-block;
  position: relative; }
  .woocommerce ul.products li.product.product-category a:hover {
    color: #000000; }

.woocommerce ul.products li.product.product-category.style-2 a:before, .woocommerce ul.products li.product.product-category.style-3 a:before, .woocommerce ul.products li.product.product-category.style-6 a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block; }

.woocommerce ul.products li.product.product-category.style-1 .woocommerce-loop-category__title, .woocommerce ul.products li.product.product-category.style-2 .woocommerce-loop-category__title, .woocommerce ul.products li.product.product-category.style-3 .woocommerce-loop-category__title, .woocommerce ul.products li.product.product-category.style-4 .woocommerce-loop-category__title, .woocommerce ul.products li.product.product-category.style-5 .woocommerce-loop-category__title, .woocommerce ul.products li.product.product-category.style-6 .woocommerce-loop-category__title {
  position: absolute;
  text-align: center; }

.woocommerce ul.products li.product.product-category.style-1 a:hover .woocommerce-loop-category__title {
  background-color: white; }

.woocommerce ul.products li.product.product-category.style-1 .woocommerce-loop-category__title {
  transition: background-color 0.2s ease;
  bottom: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.78);
  padding: 15px; }

.woocommerce ul.products li.product.product-category.style-2 a:before {
  background-color: rgba(0, 0, 0, 0.4); }

.woocommerce ul.products li.product.product-category.style-2 .woocommerce-loop-category__title {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #fff; }

.woocommerce ul.products li.product.product-category.style-2 .count {
  color: #fff; }

.woocommerce ul.products li.product.product-category.style-3 a:before {
  background-color: rgba(0, 0, 0, 0.1); }

.woocommerce ul.products li.product.product-category.style-3 .woocommerce-loop-category__title {
  width: 85%;
  transform: translateX(-50%);
  bottom: 20px;
  background: #fff;
  left: 50%;
  padding: 15px; }

.woocommerce ul.products li.product.product-category.style-4 .woocommerce-loop-category__title {
  bottom: 0;
  color: #fff;
  text-shadow: 0 0 3px #000;
  width: 100%;
  padding: 20px 0;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 39%, rgba(0, 0, 0, 0) 100%); }

.woocommerce ul.products li.product.product-category.style-4 .count {
  color: #fff;
  text-shadow: 0 0 3px #000; }

.woocommerce ul.products li.product.product-category.style-5 .woocommerce-loop-category__title {
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  padding: 15px;
  top: 100%; }

.woocommerce ul.products li.product.product-category.style-5 img {
  transition: all 0.2s ease; }

.woocommerce ul.products li.product.product-category.style-5:hover .woocommerce-loop-category__title, .woocommerce ul.products li.product.product-category.style-5:hover img {
  margin-top: -20px;
  z-index: 1; }

.woocommerce ul.products li.product.product-category.style-6 a:before {
  background-color: rgba(0, 0, 0, 0.1); }

.woocommerce ul.products li.product.product-category.style-6 .woocommerce-loop-category__title {
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.85);
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 15px;
  bottom: 0;
  width: 85%; }

li.product .nv-product-image {
  position: relative; }
  li.product .nv-product-image .nv-wl-wrap {
    position: absolute;
    text-align: center;
    right: 5px;
    z-index: 5; }
    li.product .nv-product-image .nv-wl-wrap.top {
      top: 5px; }
    li.product .nv-product-image .nv-wl-wrap.bottom {
      bottom: 5px; }
    li.product .nv-product-image .nv-wl-wrap .add-to-wl {
      position: relative;
      background: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 30px; }
      li.product .nv-product-image .nv-wl-wrap .add-to-wl svg {
        opacity: 1;
        transform: translate3d(0, 0, 0); }
        li.product .nv-product-image .nv-wl-wrap .add-to-wl svg path {
          fill: #404248;
          transition: fill .4s ease-out; }
      li.product .nv-product-image .nv-wl-wrap .add-to-wl.item-added path {
        fill: #ef4b47; }
      li.product .nv-product-image .nv-wl-wrap .add-to-wl.item-added .tooltip {
        display: none; }
      li.product .nv-product-image .nv-wl-wrap .add-to-wl svg.heart-pop {
        -webkit-animation: heartpop 0.9s both;
        animation: heartpop 0.9s both;
        animation-delay: 0s;
        -webkit-animation-delay: 0s; }
      li.product .nv-product-image .nv-wl-wrap .add-to-wl .tooltip {
        visibility: hidden;
        position: absolute;
        width: 120px;
        background-color: #fff;
        color: #404248;
        text-align: center;
        border-radius: 6px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 12px; }
        li.product .nv-product-image .nv-wl-wrap .add-to-wl .tooltip.tooltip-left {
          bottom: auto;
          right: 128%; }
        li.product .nv-product-image .nv-wl-wrap .add-to-wl .tooltip:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent transparent #fff; }
      li.product .nv-product-image .nv-wl-wrap .add-to-wl:hover .tooltip {
        visibility: visible;
        opacity: 1; }

li.product .nv-product-content .button {
  width: fit-content; }

li.product .nv-product-content .advanced-rating {
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle; }

li.product .nv-product-content .star-rating {
  margin: 0;
  display: inline-block;
  vertical-align: middle; }

li.product .nv-product-content.center {
  text-align: center; }
  li.product .nv-product-content.center .star-rating {
    display: inline-block;
    margin: 0 auto;
    float: none; }
  li.product .nv-product-content.center .advanced-rating {
    display: inline-block;
    float: none; }
  li.product .nv-product-content.center .add_to_cart_button {
    margin-left: auto;
    margin-right: auto; }

li.product .nv-product-content.right {
  text-align: right; }
  li.product .nv-product-content.right .star-rating {
    margin-right: 0;
    margin-left: auto; }
  li.product .nv-product-content.right .add_to_cart_button {
    margin-right: 0;
    margin-left: auto; }

li.product .nv-product-content.inline {
  display: flex;
  flex-wrap: wrap; }
  li.product .nv-product-content.inline .woocommerce-loop-product__link {
    flex: 1;
    line-height: 1;
    align-items: center;
    display: flex; }
  li.product .nv-product-content.inline span.price {
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin: 0; }
  li.product .nv-product-content.inline .advanced-rating-wraper {
    width: 100%; }
  li.product .nv-product-content.inline .product_meta {
    width: 100%; }
  li.product .nv-product-content.inline .woocommerce-product-details__short-description {
    width: 100%; }
  li.product .nv-product-content.inline .flex-break {
    flex-grow: 1;
    flex-basis: 100%; }
  li.product .nv-product-content.inline a.button, li.product .nv-product-content.inline .add_to_cart_button, li.product .nv-product-content.inline .added_to_cart, li.product .nv-product-content.inline .product_type_external {
    line-height: 1;
    align-items: center;
    display: flex; }

.woocommerce ul.products li.product .onsale.outside {
  left: -10px;
  top: -5px; }
  .woocommerce ul.products li.product .onsale.outside.right {
    left: unset;
    right: -10px; }

.woocommerce ul.products li.product .onsale.right {
  left: unset;
  right: 0; }

.woocommerce ul.products li.product .nv-product-image img {
  margin: 0; }

.woocommerce ul.products li.product .nv-product-image.nv-same-image-height {
  position: relative;
  max-width: 100%; }
  .woocommerce ul.products li.product .nv-product-image.nv-same-image-height .img-wrap {
    overflow: hidden;
    display: block;
    position: relative;
    height: 100%; }
  .woocommerce ul.products li.product .nv-product-image.nv-same-image-height img {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    object-fit: cover; }

.nv-product-image img {
  display: block; }

.nv-layout-toggle-wrapper {
  display: flex; }
  .nv-layout-toggle-wrapper .nv-toggle {
    font-size: .8em;
    font-weight: 600;
    padding: 6px 12px;
    transition: all .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 1.68421;
    font-family: inherit;
    border: 1px solid #676767;
    background-color: transparent;
    font-weight: 600;
    color: #676767;
    display: flex;
    align-items: center;
    flex-direction: row; }
    .nv-layout-toggle-wrapper .nv-toggle:hover {
      text-decoration: none;
      opacity: .9; }
    .nv-layout-toggle-wrapper .nv-toggle:hover {
      background: transparent; }
    .nv-layout-toggle-wrapper .nv-toggle svg {
      opacity: .75; }
    .nv-layout-toggle-wrapper .nv-toggle.nv-toggle-list-view {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .nv-layout-toggle-wrapper .nv-toggle.nv-toggle-grid-view {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0; }
    .nv-layout-toggle-wrapper .nv-toggle.current {
      background-color: #ececec; }
      .nv-layout-toggle-wrapper .nv-toggle.current svg {
        opacity: 1; }

.nv-wl-notification {
  box-shadow: 0 2px 30px -1px rgba(0, 0, 0, 0.15);
  position: fixed;
  background-color: var(--nv-light-bg);
  right: -100%;
  z-index: 100000000;
  display: flex;
  padding: 15px;
  align-items: center;
  max-width: 340px;
  transition: 0.2s;
  top: 100px; }
  .nv-wl-notification path {
    fill: #fff;
    transition: fill 1s ease-out; }
  .nv-wl-notification .nv-loader {
    display: block; }
  .nv-wl-notification .wl-notification-icon {
    margin-right: 15px; }
    .nv-wl-notification .wl-notification-icon.hidden {
      position: absolute;
      opacity: 0; }
  .nv-wl-notification.in-view, .nv-wl-notification:hover {
    right: 20px; }
  .nv-wl-notification.removed path {
    fill: #404248; }
  .nv-wl-notification.added .wl-notification-icon svg {
    -webkit-animation: heartpop 0.9s both;
    animation: heartpop 0.9s both;
    animation-delay: 0s;
    -webkit-animation-delay: 0s; }
  .nv-wl-notification.added path {
    fill: #ef4b47; }

.wish_list_table thead {
  border: none;
  background: #f7f7f7; }

.wish_list_table td img {
  max-width: 100px; }

.wl-icon-wrapper svg {
  vertical-align: middle;
  display: inline; }

.wl-icon-wrapper .wl-label {
  vertical-align: middle;
  margin: 0 0 10px 0;
  display: inline; }

.load-more-products {
  width: 100%;
  text-align: center;
  margin: 20px 0; }

.neve-off-canvas .nv-sidebar-wrap.shop-sidebar {
  position: fixed;
  left: -100%;
  padding: 60px 20px 20px;
  z-index: 1000;
  overflow: auto;
  transition: all .5s ease;
  opacity: 1;
  background-color: var(--nv-site-bg); }

.neve-off-canvas .nv-sidebar-wrap.shop-sidebar.sidebar-open {
  left: 0;
  pointer-events: all; }

.neve-off-canvas .nv-sidebar-toggle,
.neve-off-canvas .nv-sidebar-wrap.shop-sidebar .sidebar-header {
  display: block; }

.nv-video-product .nv-featured-video {
  margin-bottom: -5px; }

.nv-video-product:not(.nv-video-file-src) .nv-video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }

.nv-video-product .nv-video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.woocommerce div.product .nv-video-product .flex-control-thumbs > li:first-child {
  display: flex; }
  .woocommerce div.product .nv-video-product .flex-control-thumbs > li:first-child > img {
    padding: 10px;
    align-self: center;
    opacity: 1; }

.nv-video-product .woocommerce-product-gallery__wrapper {
  width: 100%; }

.nv-video-file-src .nv-video-wrap {
  margin-bottom: -5px; }

.nv-related-clearfix {
  display: table;
  content: " ";
  width: 100%; }

.woocommerce .neve-related-slider-wrap {
  position: relative;
  padding: 0 35px;
  display: block; }
  .woocommerce .neve-related-slider-wrap .products > div > div {
    padding: 0 10px; }
  .woocommerce .neve-related-slider-wrap ul.products li.product {
    width: 100%;
    margin: 0; }

.woocommerce div.product div.images .flex-control-thumbs.neve-slider li {
  width: 100%; }

.neve-slider-control {
  user-select: none;
  width: 25px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  font-size: 2.5em;
  font-weight: 800;
  display: flex;
  align-items: center;
  opacity: .9; }
  .neve-slider-control:hover {
    opacity: 1; }

.nv-left-gallery div.product .tns-outer {
  align-self: flex-start;
  position: relative; }

.nv-left-gallery div.product .onsale {
  left: 62px; }
  .nv-left-gallery div.product .onsale.outside {
    left: 57px; }

.nv-left-gallery div.product div.images {
  display: flex;
  flex-direction: row-reverse; }
  .nv-left-gallery div.product div.images .flex-viewport {
    width: 100%; }
  .nv-left-gallery div.product div.images .flex-control-thumbs {
    width: 70px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: -5px 5px 0 -5px; }
    .nv-left-gallery div.product div.images .flex-control-thumbs li {
      width: 100%; }

.tns-ovh {
  overflow: hidden; }

.tns-visually-hidden {
  display: none; }

.nv-slider-gallery .woocommerce-product-gallery .tns-outer {
  position: relative;
  margin-top: 5px; }

.nv-slider-gallery div.product div.images .flex-control-thumbs {
  margin: 5px 0 0; }
  .nv-slider-gallery div.product div.images .flex-control-thumbs li {
    padding: 0; }

.nv-slider-gallery .neve-slider-control.prev {
  left: 0; }

.nv-slider-gallery .neve-slider-control.next {
  right: 0; }

.nv-slider-gallery:not(.nv-left-gallery) .neve-slider-control {
  top: 5px;
  bottom: 0; }

.nv-slider-gallery .tns-ovh:hover .neve-slider-control {
  background: rgba(255, 255, 255, 0.75); }

.nv-slider-gallery.nv-left-gallery .tns-ovh {
  position: relative; }

.nv-slider-gallery.nv-left-gallery .woocommerce-product-gallery .tns-outer {
  margin: 0 10px 0 0; }

.nv-slider-gallery.nv-left-gallery div.product div.images .flex-control-thumbs {
  margin: 0; }
  .nv-slider-gallery.nv-left-gallery div.product div.images .flex-control-thumbs li:last-child:after {
    display: block;
    height: 10px;
    content: " "; }

.nv-slider-gallery.nv-left-gallery div.product .onsale {
  left: 80px; }
  .nv-slider-gallery.nv-left-gallery div.product .onsale.outside {
    left: 75px; }

.nv-slider-gallery.nv-left-gallery .woocommerce-product-gallery .neve-slider-control {
  width: 100%;
  justify-content: center; }
  .nv-slider-gallery.nv-left-gallery .woocommerce-product-gallery .neve-slider-control.next {
    top: unset;
    bottom: 10px;
    right: unset; }
  .nv-slider-gallery.nv-left-gallery .woocommerce-product-gallery .neve-slider-control.prev {
    top: 0;
    left: unset; }

.related.products:hover .neve-slider-control {
  background: rgba(255, 255, 255, 0.75); }

.related.products .tns-ovh {
  margin: 0 5px;
  position: relative; }

.related.products .neve-slider-control {
  top: 0;
  bottom: 0; }
  .related.products .neve-slider-control.prev {
    left: 0; }
  .related.products .neve-slider-control.next {
    right: 0; }

.related.products .products.tns-slider {
  display: flex; }
  .related.products .products.tns-slider li.product {
    margin: 0; }

.woocommerce span.onsale.outside {
  left: -10px;
  top: -5px; }

.woocommerce button.button.single_add_to_cart_button.loading {
  padding-right: 3em; }

.nv-product-nav-wrap {
  position: relative;
  margin-bottom: 10px; }

.nv-product-nav {
  width: 100%;
  display: inline-block; }
  .nv-product-nav li.next-li {
    float: left; }
    .nv-product-nav li.next-li a {
      margin-right: 10px; }
  .nv-product-nav li.prev-li {
    float: right; }
    .nv-product-nav li.prev-li a {
      margin-left: 10px; }
  .nv-product-nav li {
    position: relative; }
    .nv-product-nav li a.nv-nav-text {
      font-size: 12px;
      display: inline-block; }
    .nv-product-nav li svg {
      display: inline-block;
      vertical-align: middle; }

.nv-has-product-nav.woocommerce span.onsale {
  top: calc( 100% + 10px); }
  .nv-has-product-nav.woocommerce span.onsale.outside {
    top: calc( 100% + 5px); }

.woocommerce.single .entry-summary > form.cart .wc-forward {
  flex-basis: 100%;
  margin-left: 0;
  margin-top: 4px; }

.woocommerce.single .entry-summary > form.cart > a:after, .woocommerce.single .entry-summary > form.cart > button:after {
  vertical-align: initial;
  display: inline-block;
  float: none; }

.sticky-add-to-cart__product {
  display: none;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px; }
  .sticky-add-to-cart__product .product-title-small {
    margin-right: 1em;
    max-width: 180px;
    line-height: 1; }
  .sticky-add-to-cart__product img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 1em;
    border-radius: 5px; }

.sticky-add-to-cart--active {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .sticky-add-to-cart--active.sticky-add-to-cart-bottom {
    bottom: 0; }
  .sticky-add-to-cart--active.sticky-add-to-cart-top {
    top: 0; }
  .sticky-add-to-cart--active .woocommerce-variation-description,
  .sticky-add-to-cart--active .variations {
    display: none; }
  .sticky-add-to-cart--active .woocommerce-variation-add-to-cart,
  .sticky-add-to-cart--active .single_variation_wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap; }
  .sticky-add-to-cart--active .price {
    margin: 0;
    color: inherit !important;
    margin-right: 1em; }
  .sticky-add-to-cart--active .qty {
    transition: none;
    background-color: #fff; }
  .sticky-add-to-cart--active .woocommerce-variation-price,
  .sticky-add-to-cart--active .product-page-price {
    margin-top: 0;
    margin-right: 0.9em;
    margin-bottom: 0;
    font-size: 15px;
    padding: 0;
    border: 0; }
  .sticky-add-to-cart--active .quantity,
  .sticky-add-to-cart--active form,
  .sticky-add-to-cart--active button {
    margin-bottom: 0; }
  .sticky-add-to-cart--active .sticky-add-to-cart__product {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: center; }

.nv-recently-viewed {
  min-width: 200px;
  position: fixed;
  padding: 15px 20px 10px;
  background: var(--nv-site-bg);
  border-right: 0;
  top: 50%;
  transform: translate3d(100%, -50%, 0);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.07);
  z-index: 10000;
  display: block;
  right: 0;
  transition: .3s all ease; }
  .nv-recently-viewed.expanded {
    transform: translate3d(0, -50%, 0); }
    .nv-recently-viewed.expanded .close {
      transform: translateX(0); }
      .nv-recently-viewed.expanded .close:after {
        content: "›"; }
  .nv-recently-viewed .title {
    text-align: center; }
  .nv-recently-viewed ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
  .nv-recently-viewed ul.product_list_widget li {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nv-recently-viewed ul.product_list_widget li img {
      margin: 0 0 10px 0;
      width: 70px; }
  .nv-recently-viewed a span {
    display: none; }
  .nv-recently-viewed del {
    display: none; }
  .nv-recently-viewed .woocommerce-Price-amount {
    font-weight: 500;
    font-size: .85em; }
  .nv-recently-viewed .close {
    cursor: pointer;
    background-color: var(--nv-light-bg);
    color: var(--nv-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50px);
    transition: .3s all ease;
    top: 8px;
    left: 8px; }
    .nv-recently-viewed .close:after {
      content: "‹";
      line-height: 18px;
      font-size: 18px;
      font-weight: 800;
      display: block; }
    .nv-recently-viewed .close:hover {
      opacity: .75; }

.woocommerce-cart.nv-cart-side-by-side .cart-collaterals .cross-sells {
  width: 100%; }

.woocommerce-checkout h3 {
  background-color: transparent;
  border: none; }

.woocommerce-checkout .woocommerce-additional-fields h3 {
  padding-left: 0;
  padding-right: 0; }

.woocommerce-checkout #payment {
  background: transparent; }

.nv-checkout-layout-stepped form.woocommerce-checkout,
.nv-checkout-layout-vertical form.woocommerce-checkout {
  display: flex; }

.nv-checkout-layout-stepped #customer_details, .nv-checkout-layout-stepped #order_review,
.nv-checkout-layout-vertical #customer_details,
.nv-checkout-layout-vertical #order_review {
  align-self: center; }

.nv-checkout-layout-stepped .nv-checkout-steps-wrapper {
  margin-bottom: 20px;
  margin-top: 30px;
  text-transform: uppercase;
  display: flex;
  font-weight: 700;
  flex-direction: column; }
  .nv-checkout-layout-stepped .nv-checkout-steps-wrapper + form.checkout {
    margin-bottom: 30px; }
  .nv-checkout-layout-stepped .nv-checkout-steps-wrapper .nv-checkout-step {
    cursor: pointer;
    color: inherit;
    text-decoration: none !important;
    flex: 1 1 0;
    padding: 16px 0; }
    .nv-checkout-layout-stepped .nv-checkout-steps-wrapper .nv-checkout-step.active .step-number-label {
      background-color: var(--nv-primary-accent);
      border-radius: 50%; }
  .nv-checkout-layout-stepped .nv-checkout-steps-wrapper .step-number-label {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    color: var(--nv-text-dark-bg); }
    .nv-checkout-layout-stepped .nv-checkout-steps-wrapper .step-number-label:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: var(--nv-text-color);
      opacity: 0.3;
      border-radius: 50%;
      z-index: -1; }

.nv-checkout-layout-stepped:not(.woocommerce-order-received) .shop_table,
.nv-checkout-layout-stepped:not(.woocommerce-order-received) #payment,
.nv-checkout-layout-stepped:not(.woocommerce-order-received) .next-step-button-wrapper.review {
  display: none; }

.nv-checkout-boxed-style #customer_details {
  border: none; }
  .nv-checkout-boxed-style #customer_details h3,
  .nv-checkout-boxed-style #customer_details #neve-checkout-coupon,
  .nv-checkout-boxed-style #customer_details .woocommerce-billing-fields__field-wrapper {
    padding-left: 0;
    padding-right: 0; }

.nv-checkout-boxed-style .woocommerce-additional-fields {
  padding: 0; }

.nv-checkout-boxed-style .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table {
  border: none; }
  .nv-checkout-boxed-style .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .cart-subtotal td,
  .nv-checkout-boxed-style .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .cart-subtotal th,
  .nv-checkout-boxed-style .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .order-total td,
  .nv-checkout-boxed-style .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .order-total th,
  .nv-checkout-boxed-style .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .shipping td,
  .nv-checkout-boxed-style .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .shipping th,
  .nv-checkout-boxed-style .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table thead tr th {
    border: none; }

.nv-checkout-boxed-style #payment {
  border: none; }
  .nv-checkout-boxed-style #payment div.form-row,
  .nv-checkout-boxed-style #payment ul.payment_methods {
    border: none;
    padding-left: 0;
    padding-right: 0; }

.nv-checkout-boxed-style .next-step-button-wrapper {
  width: 100%;
  align-self: center; }

.nv-checkout-labels-placeholders.woocommerce-checkout .form-row > label {
  display: none; }

.nv-checkout-fixed-total.woocommerce-checkout form.woocommerce-checkout {
  flex-direction: column-reverse; }

.nv-checkout-fixed-total.woocommerce-checkout #payment {
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #f0f0f0; }

.nv-wishlist-wrap {
  padding-bottom: 45px; }

.nv-wl-product {
  position: relative; }
  .nv-wl-product .nv-wl-product-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 30px 0; }
  .nv-wl-product:first-child .nv-wl-product-content {
    padding-top: 10px; }
  .nv-wl-product .loader-wrap {
    opacity: 0;
    visibility: hidden;
    transition: visibility linear .1s, opacity .3s ease-in; }
  .nv-wl-product.is-loading .loader-wrap {
    opacity: 1;
    visibility: visible;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000; }
    .nv-wl-product.is-loading .loader-wrap .nv-loader {
      display: block; }
  .nv-wl-product:first-child {
    padding-top: 0;
    margin-top: 0; }
  .nv-wl-product .actions {
    display: flex;
    margin: 20px 0 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%; }
    .nv-wl-product .actions .remove {
      margin-left: auto;
      text-decoration: none; }
  .nv-wl-product .details {
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-direction: column; }
  .nv-wl-product .product-name {
    text-align: center;
    margin-bottom: 10px; }
  .nv-wl-product .product-thumbnail {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    .nv-wl-product .product-thumbnail a {
      display: block; }
    .nv-wl-product .product-thumbnail img {
      float: left; }
  .nv-wl-product .price-stock {
    display: flex;
    margin: 0 auto; }
  .nv-wl-product .product-stock-status {
    margin-right: 50px; }

.builder-item--header_cart_icon .nv-nav-cart {
  text-align: right; }

.builder-item--header_cart_icon .cart-icon-wrapper:hover {
  text-decoration: none; }

.builder-item--header_cart_icon .after-cart-html {
  text-align: left; }

.cart-icon-wrapper {
  display: flex;
  align-items: center; }
  .cart-icon-wrapper .cart-icon-label {
    margin-right: 5px; }

.cart-off-canvas {
  text-align: left;
  position: fixed;
  right: -100%;
  padding: 60px 20px 20px;
  z-index: 99999999;
  overflow: auto;
  transition: all .5s ease;
  opacity: 1;
  background-color: #fff;
  border-left: 1px solid #f0f0f0;
  max-width: 100%;
  height: 100%;
  bottom: 0; }
  .cart-off-canvas.cart-open {
    right: 0; }
  .cart-off-canvas .cart-off-canvas-button-wrapper {
    display: block;
    margin-bottom: 20px; }
  .cart-off-canvas .nv-close-cart-sidebar {
    display: inline-block;
    background-color: transparent;
    color: #676767; }
    .cart-off-canvas .nv-close-cart-sidebar:hover {
      background-color: transparent;
      color: #676767; }
  .cart-off-canvas .widget_shopping_cart {
    color: #404248; }
    .cart-off-canvas .widget_shopping_cart .cart_list li.mini_cart_item > a {
      color: #404248; }
  .cart-off-canvas li.mini_cart_item .quantity {
    padding-right: 61px; }

.hfg-is-group > div:last-of-type .off-canvas .button {
  margin-left: 0; }

@media (min-width: 576px) {
  .woocommerce.single .entry-summary > form.cart .wc-forward {
    flex-basis: initial;
    margin-left: 4px;
    margin-top: 0; } }

@media (min-width: 768px) {
  .nv-wl-product .nv-wl-product-content {
    flex-direction: row; }
    .nv-wl-product .nv-wl-product-content .details {
      width: calc(100% - 170px);
      text-align: right;
      margin-left: auto; }
    .nv-wl-product .nv-wl-product-content .product-thumbnail {
      margin-right: 20px;
      max-width: 150px;
      margin-bottom: 0; }
    .nv-wl-product .nv-wl-product-content .product-name {
      text-align: right; }
    .nv-wl-product .nv-wl-product-content .price-stock {
      margin: 0 0 0 auto; }
    .nv-wl-product .nv-wl-product-content .product-stock-status {
      margin-right: 10px; }
    .nv-wl-product .nv-wl-product-content .actions {
      margin: auto 0 0;
      flex-direction: row-reverse; }
      .nv-wl-product .nv-wl-product-content .actions .remove {
        margin-left: 0; }
      .nv-wl-product .nv-wl-product-content .actions .product-add-to-cart {
        margin-left: auto; }
  .sticky-add-to-cart--active .sticky-add-to-cart__product {
    width: auto; }
  .nv-checkout-layout-stepped .nv-checkout-steps-wrapper {
    margin-bottom: 60px;
    margin-top: 60px;
    flex-direction: row; }
    .nv-checkout-layout-stepped .nv-checkout-steps-wrapper .nv-checkout-step {
      text-align: center; } }

@media (min-width: 960px) {
  .nv-cart-total-fixed .cart_totals {
    z-index: 99; }
  .nv-cart-side-by-side .cart-collaterals {
    width: 67%; }
    .nv-cart-side-by-side .cart-collaterals .cross-sells {
      width: 100%; }
  .nv-cart-side-by-side .woocommerce-cart-form {
    display: flex; }
    .nv-cart-side-by-side .woocommerce-cart-form .shop_table.cart {
      width: 67%;
      margin-right: 3%; }
    .nv-cart-side-by-side .woocommerce-cart-form .cart_totals {
      align-self: flex-start;
      width: 30%;
      flex-grow: 1; }
      .nv-cart-side-by-side .woocommerce-cart-form .cart_totals table {
        width: 100%; }
  .nv-checkout-layout-vertical .woocommerce-checkout > .col2-set, .nv-checkout-layout-stepped .woocommerce-checkout > .col2-set {
    width: 100%; }
  .nv-checkout-layout-vertical .woocommerce-checkout .woocommerce-checkout-review-order, .nv-checkout-layout-stepped .woocommerce-checkout .woocommerce-checkout-review-order {
    width: 100%; }
  .nv-checkout-layout-standard.nv-checkout-fixed-total #order_review {
    z-index: 1000000; }
  .nv-checkout-layout-standard.nv-checkout-fixed-total #payment {
    margin: 0 12px 9px 12px;
    background: #f9f9f9; }
  .nv-checkout-fixed-total.woocommerce-checkout #payment {
    border: 1px solid #f0f0f0;
    margin-bottom: 12px; }
  .nv-modal .nv-modal-container {
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    width: 80%; }
    .nv-modal .nv-modal-container .nv-qv-gallery-wrap {
      width: 50%;
      height: 100%; }
  .nv-modal .nv-modal-inner-content .product .product {
    display: flex; }
    .nv-modal .nv-modal-inner-content .product .product .summary {
      width: 50%; }
  .nv-wl-product .nv-wl-product-content {
    align-items: center; }
    .nv-wl-product .nv-wl-product-content .product-stock-status {
      margin: 0 0 5px 0; }
    .nv-wl-product .nv-wl-product-content .actions {
      width: auto;
      margin: 0 0 0 auto;
      flex-direction: row; }
      .nv-wl-product .nv-wl-product-content .actions .remove {
        margin-left: 10px; }
    .nv-wl-product .nv-wl-product-content .details {
      flex-direction: row;
      align-items: center; }
    .nv-wl-product .nv-wl-product-content .price-stock {
      flex-direction: column;
      align-items: center; }
    .nv-wl-product .nv-wl-product-content .product-name {
      margin: 0;
      max-width: 150px;
      width: 150px;
      text-align: left;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap; }
  .neve-off-canvas.archive.woocommerce .neve-main > .shop-container .nv-sidebar-wrap {
    max-width: 25%; }
  .nv-product-nav-wrap {
    text-align: right;
    z-index: 1; }
  .nv-product-nav .nv-button {
    font-size: .8em;
    font-weight: 600;
    padding: 8px 12px;
    transition: all .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: normal;
    font-family: inherit; }
    .nv-product-nav .nv-button:hover {
      text-decoration: none;
      opacity: .9; }
    .nv-product-nav .nv-button .nv-button-secondary {
      border: 1px solid;
      background-color: transparent;
      font-weight: 600;
      color: #676767; }
      .nv-product-nav .nv-button .nv-button-secondary:hover {
        background: transparent; }
  .nv-product-nav li {
    display: inline-block;
    margin-left: 3px; }
    .nv-product-nav li:first-child {
      margin-left: 0; }
    .nv-product-nav li a.nv-nav-text {
      display: none; }
    .nv-product-nav li.next-li, .nv-product-nav li.prev-li {
      float: none; }
      .nv-product-nav li.next-li a, .nv-product-nav li.prev-li a {
        margin: 0; }
  .cart-off-canvas {
    max-width: 320px; } }

.nv-payment-cart-total {
  margin: 0 20px;
  padding-bottom: 1em; }

.nv-payment-icons-wrapper {
  display: inline-block;
  width: 100%;
  margin: 0 -3px;
  fill: #9b9b9b; }
  .nv-payment-icons-wrapper .nv-payment-icon {
    display: inline-block;
    border-radius: 5px;
    background-color: #e5e5e5;
    padding: 3px 5px 5px;
    margin: 3px; }
    .nv-payment-icons-wrapper .nv-payment-icon svg {
      vertical-align: middle;
      height: 15px; }

.single .related .products .product {
  display: flex;
  justify-content: center; }

.my-account-wrapper {
  display: flex;
  align-items: center; }
  .my-account-wrapper .my-account-icon {
    display: block; }
    .my-account-wrapper .my-account-icon img {
      max-width: unset; }

/* rtl:begin:ignore */
.tns-outer {
  direction: ltr; }

/* rtl:end:ignore */
