.form {
    &-group {
        margin-bottom: 40px;
        position: relative;
        &.label-anima {
            label {
                top: 0;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    &-control {
        font-family: $font-regular;
        font-size: 16px;
        line-height: 24px;
        padding: 24px 0 11px 0;
        display: block;
        width: 100%;
        transition: all 0.3s ease-in-out;
        background-color: transparent;
        border: 1px solid $color-border-medium;
        border-width: 0 0 1px 0;
        color: $color-white;
        @include placeholder(transparent);
        &:focus,
        &.focus {
            outline: none;
            border-color: $color-white;
            box-shadow: none;
            background-color: transparent;
        }
        // &:focus,
        // &:not(:placeholder-shown) {
        //     +label {
        //         top: 0;
        //         font-size: 12px;
        //         line-height: 16px;
        //     }
        // }
    }
    label {
        position: absolute;
        top: 24px;
        color: $color-white;
        cursor: text;
        user-select: none;
        transition: all .4s ease-in-out;
        span {
            color: $color-warning;
        }
    }
    &-button {
        input {
            color: $color-primary;
            background: $color-white;
            width: 100%;
            border: 0;
            transition: all 0.3s ease;
            &:focus,
            &:hover {
                background: rgba(255, 255, 255, 0.8);
            }
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        transition: background-color 5000s;
        -webkit-text-fill-color: $color-white !important;
    }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    color: #fff;
}

.wpcf7 form .wpcf7-response-output {
    color: #fff;
}