// DROPDOWN MENU
// Navbar submenu 
.menu-item-has-children {
    li {
        display: block;
        margin: 0;
    }
    .title {
        padding: 33px 0 23px 0;
        font-family: $font-bold;
        @extend %type-large;
        display: flex;
        color: $color-primary;
        @include flex-center-space-between;
        background-color: $color-white;
        @include respond-to('medium') {
            display: none;
        }
    }
    .sub-menu {
        display: none;
    }
}

// ---------------------------- CLOSE BUTTON
.close {
    width: 40px;
    height: 40px;
    border: 1px solid $color-border-ultralight;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
    @include respond-to('medium') {
        display: none;
    }
    &::after,
    &::before {
        content: ' ';
        position: absolute;
        top: 13px;
        left: 19px;
        height: 13px;
        width: 1px;
        background-color: $color-text-light;
    }
    &::after {
        transform: rotate(45deg);
    }
    &::before {
        transform: rotate(-45deg);
    }
    &:hover,
    &:focus {
        cursor: pointer;
        border-color: $color-text-default;
        &::after,
        &::before {
            background-color: $color-text-default;
        }
    }
}

// wrapper for navigation first level sub-menu
.sub-menu--wrap {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 140px;
    width: 100%;
    max-height: calc(100vh - 140px);
    overflow-y: scroll;
    z-index: 9;
    background-color: $color-white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    @include respond-to('medium') {
        position: absolute;
        top: 120px;
        overflow: visible;
        max-height: unset;
        max-height: none;
        display: block;
    }
    @include respond-to('large') {
        top: 62px;
    }
    >.sub-menu {
        position: relative;
        padding-right: 24px;
        padding-left: 24px;
        margin: 0 auto;
        max-width: 540px;
        @include respond-to('small') {
            max-width: 720px;
        }
        @include respond-to('medium') {
            max-width: 960px;
            display: flex;
            flex-wrap: wrap;
            padding: 65px 24px 30px 24px;
        }
        @include respond-to('large') {
            max-width: 1344px;
        }
        a {
            padding: 14px 0;
            background-color: #fff;
            border-bottom: 1px solid $color-border-ultralight;
            transition: color 0.2s ease;
            @extend %type-small;
            color: $color-primary;
            font-family: $font-regular;
            @include respond-to('medium') {
                padding: 16px 0;
                font-size: 16px;
                line-height: 24px;
                color: $color-text-default;
            }
            &:hover {
                // font-weight: 600;
                color: $color-primary;
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
            }
        }
        >li {
            background: $color-white;
            @include respond-to('medium') {
                padding-left: 0;
                padding-right: 40px;
                border-right: 1px solid $color-border-ultralight;
                margin-right: 40px;
                max-width: 250px;
                width: auto;
            }
            &:last-of-type {
                padding-bottom: 25px;
                @include respond-to('medium') {
                    padding-bottom: 0;
                    border-right: 0;
                    margin-right: 0;
                }
                >a {
                    border-bottom: 0;
                }
            }
            >a {
                @include respond-to('medium') {
                    font-size: 20px;
                    line-height: 28px;
                    font-family: $font-bold;
                    border-bottom: 0;
                    padding: 0 48px 0 0;
                    position: relative;
                    color: $color-primary;
                }
                &:focus,
                &:hover,
                &.hover {
                    @include respond-to('medium') {
                        .round-arrow-right {
                            border: 1px solid rgba(51, 69, 163, 0.9);
                            &::after {
                                border: solid rgba(51, 69, 163, 0.9);
                                border-width: 0 1px 1px 0;
                            }
                        }
                    }
                }
            }
        }
        >.menu-item-has-children {
            @include respond-to('medium') {
                padding-right: 75px;
                border-right: 1px solid $color-border-ultralight;
                margin-right: 75px;
                max-width: 370px;
                width: 370px;
                margin-bottom: 10px;
            }
            >a {
                @extend %type-medium;
                font-family: $font-bold;
                border-bottom: 0;
                padding-right: 46px;
                position: relative;
                @include respond-to('medium') {
                    padding: 0 48px 24px 0;
                    color: $color-primary;
                    display: inline-block;
                }
            }
        }
        .sub-menu {
            width: 100%;
            @include respond-to('medium') {
                width: auto;
                display: block;
            }
            >li {
                padding-left: 0;
                &:last-of-type {
                    >a {
                        border-bottom: 0;
                        padding-bottom: 25px;
                        @include respond-to('medium') {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .round-arrow-down {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 10px;
        right: 3px;
        border: 1px solid $color-border-ultralight;
        transition: all 0.3s ease;
        &::after {
            top: 11px;
            left: 12px;
        }
        &.up {
            border: 1px solid $color-primary;
            &::after {
                top: 12px;
                border: solid $color-primary;
                border-width: 0 1px 1px 0;
            }
        }
    }
    .round-arrow-right {
        position: absolute;
        transition: all 0.3s ease;
        @include respond-to('medium') {
            top: -4px;
            right: 0;
        }
    }
}