.editor {
    margin-bottom: 16px;
    @include respond-to('medium') {
        margin-bottom: 60px;
    }
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 24px;
        @include respond-to('medium') {
            margin-bottom: 32px;
        }
    }
    p {
        @extend %type-small;
        @include respond-to('medium') {
            font-size: 16px;
            line-height: 24px;
        }
        img {
            margin-bottom: 0;
        }
    }
    img {
        height: auto;
        margin-bottom: 24px;
        border-radius: 16px;
        @include respond-to('medium') {
            margin-bottom: 32px;
        }
        &.img-intro {
            margin-bottom: 40px;
            @include respond-to('medium') {
                margin-bottom: 100px;
                border-radius: 24px;
            }
        }
    }
    figure {
        margin: 0;
        max-width: 100%;
        img {
            margin-bottom: 16px;
            width: 100%;
        }
    }
    figcaption {
        @extend %type-tiny;
        color: $color-text-light;
        max-width: 312px;
        margin-bottom: 16px;
        @include respond-to('medium') {
            font-size: 14px;
            line-height: 20px;
        }
    }
    // ---------------------------------ol and ul
    ul,
    ol {
        list-style: none;
        padding: 0;
        margin-bottom: 24px;
        @include respond-to('medium') {
            margin-bottom: 32px;
        }
    }
    ul {
        li {
            padding: 0 0 0 16px;
            position: relative;
            margin-bottom: 12px;
            &::before {
                content: '';
                position: absolute;
                top: 9px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $color-primary;
            }
        }
    }
    ol {
        li {
            padding-left: 24px;
            margin-bottom: 12px;
            position: relative;
            counter-increment: li;
            &::before {
                color: $color-text-ultralight;
                @extend %type-tiny;
                content: counter(li) ".";
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
    }
    .rating-box ol li {
        margin-bottom: 16px;
        &::before {
            color: $color-text-light;
            top: 0;
        }
    }
}