.footer {
    overflow: hidden;
    padding-bottom: 40px;
    @include respond-to('medium') {
        padding-bottom: 68px;
    }
    .container {
        position: relative;
        padding-top: 40px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 24px;
            height: 1px;
            width: 120%;
            background-color: $color-border-ultralight;
            z-index: -1;
            @include respond-to('small') {
                width: auto;
                left: 20px;
                right: 20px;
            }
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 8px;
            @extend %type-tiny;
            color: $color-text-light;
            a {
                color: $color-text-light;
                transition: all 0.3s ease;
                &:focus,
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
    .copyright {
        li {
            margin-bottom: 4px;
        }
    }
    .col-6:nth-of-type(1),
    .col-6:nth-of-type(2) {
        padding-bottom: 32px;
        margin-bottom: 24px;
        @include respond-to('medium') {
            padding-bottom: 0;
            margin-bottom: 0;
        }
        li {
            @include respond-to('medium') {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 12px;
            }
        }
    }
    .col-6:first-of-type {
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 20px;
            height: 1px;
            width: 1000px;
            background-color: $color-border-ultralight;
            @include respond-to('small') {
                display: none;
            }
        }
    }
}