.header {
    position: relative;
    padding: 24px 0;
    @include respond-to('medium') {
        padding: 34px 0;
    }
    .logo {
        position: relative;
        a {
            &:focus,
            &:hover {
                text-decoration: none;
                outline: none;
            }
        }
        img {
            margin-right: 8px;
            margin-bottom: 3px;
        }
        span {
            font-family: $font-bold;
            color: $color-primary;
            vertical-align: middle;
            cursor: pointer;
            transition: all 0.3s ease;
            &::after {
                content: '';
                @include arrow-down;
            }
            &:hover,
            &:focus {
                &::after {
                    border: solid $color-primary;
                    border-width: 0 1px 1px 0;
                }
            }
        }
    }
    .logo-menu {
        display: none;
        position: absolute;
        left: -5px;
        background-color: $color-white;
        z-index: 9;
        padding: 5px 15px 5px 10px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        width: max-content;
        a {
            display: block;
            padding: 5px 0;
        }
        span {
            &::after {
                display: none;
            }
            &:hover,
            &:focus {
                color: $color-text-light;
            }
        }
    }
    .jspHorizontalBar {
        height: 0px;
        bottom: 77px;
    }
    .jspVerticalBar {
        display: none;
        width: 0;
    }
    .nav {
        position: relative;
        padding-bottom: 3px;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 0 -24px 0 0;
        @include respond-to('medium') {
            margin: 3px 0 0 0;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 43px;
            background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            @include respond-to('small') {
                display: none;
                background: none;
            }
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: max-content;
    }
    li {
        float: left;
        margin-right: 10px;
        position: relative;
        @include respond-to('medium') {
            margin-right: 28px;
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 41px;
            left: 0;
            right: -20px;
            height: 1px;
            background-color: $color-border-ultralight;
            @include respond-to('medium') {
                display: none;
            }
        }
        a {
            display: inline-block;
            @extend %type-medium;
            color: $color-text-light;
            padding-bottom: 13px;
            border-bottom: 1px solid transparent;
            transition: all 0.3s ease;
            @include respond-to('medium') {
                padding-bottom: 0;
                font-size: 15px;
                line-height: 24px;
            }
            &:focus,
            &:hover,
            .active {
                font-family: $font-bold;
                color: $color-primary;
                border-bottom: 1px solid $color-primary;
                text-decoration: none;
            }
            &::before {
                display: block;
                content: attr(title);
                font-family: $font-bold;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }
        }
    }
    .nav .menu-item-type-custom {
        clear: both;
        margin: 28px 15px 4px 0;
        position: sticky;
        left: 0;
        @include respond-to('medium') {
            clear: none;
            margin: 0 28px 0 0;
            position: static;
        }
        &:last-of-type {
            clear: none;
            margin-right: 0;
            left: 118px;
        }
        &::after {
            display: none;
        }
        a {
            color: $color-primary;
            @extend %type-button;
            @extend .button-round;
            border-radius: 60px;
            padding: 8px 14px;
            display: inline-block;
            &::after {
                content: '';
                @include arrow-down;
                width: 4px;
                height: 4px;
                margin-left: 8px;
                display: none;
                @include respond-to('medium') {
                    display: inline-block;
                }
            }
            @include respond-to('medium') {
                font-size: 15px;
                line-height: 24px;
                color: $color-text-light;
                font-family: $font-regular;
                text-transform: none;
                padding: 0;
                border-radius: 0;
                border: 0;
                letter-spacing: normal;
            }
            &:focus,
            &:hover,
            &.active,
            &.hover {
                @include respond-to('medium') {
                    font-family: $font-bold;
                    color: $color-primary;
                    border-bottom: 1px solid $color-primary;
                }
                &::after {
                    border-color: $color-primary;
                }
            }
        }
    }
    .search {
        position: relative;
        margin-bottom: 40px;
        @include respond-to('medium') {
            margin-bottom: 24px;
        }
        @include respond-to('large') {
            z-index: 2;
            margin: 0;
        }
        input {
            width: 100%;
            height: 100%;
            padding: 8px 24px 9px 16px;
            border: 1px solid $color-border-ultralight;
            border-radius: 16px;
            @extend %type-tiny;
            color: $color-text-default;
            font-family: $font-regular;
            @include placeholder($color-text-light);
        }
        i {
            position: absolute;
            top: 10px;
            right: 12px;
            color: #D1D3DC;
            font-size: 13px;
        }
    }
}