.header {
    position: relative;
    padding: 24px 0;
    @include respond-to('medium') {
        padding: 34px 0;
    }
    .logo {
        position: relative;
        a {
            display: inline-block;
            &:focus,
            &:hover {
                text-decoration: none;
                outline: none;
            }
        }
        img {
            margin-right: 5px;
            margin-bottom: 3px;
        }
        &-btn {
            font-family: $font-bold;
            color: $color-primary;
            vertical-align: middle;
            cursor: pointer;
            transition: all 0.3s ease;
            display: inline-block;
            &.hover {
                color: rgba(51, 69, 163, 0.8);
                ~.arrow-down {
                    span {
                        border: solid rgba(51, 69, 163, 0.8);
                        border-width: 0 2px 2px 0;
                    }
                }
            }
        }
        .arrow-down {
            display: inline-block;
            padding: 0 5px;
            span {
                border: solid $color-primary;
                border-width: 0 1px 1px 0;
                display: inline-block;
                width: 6px;
                height: 6px;
                transform: rotate(45deg);
                transition: all 0.3s ease;
            }
            &.up {
                span {
                    transform: rotate(-135deg);
                    margin-bottom: -2px;
                }
            }
        }
    }
    .logo-menu {
        display: none;
        position: absolute;
        left: -5px;
        background-color: $color-white;
        z-index: 9;
        padding: 5px 15px 5px 10px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        width: max-content;
        a {
            display: block;
            padding: 5px 0;
            &:hover {
                span {
                    color: rgba(51, 69, 163, 0.8);
                }
            }
        }
        span {
            font-family: $font-bold;
            color: $color-primary;
            vertical-align: middle;
            cursor: pointer;
            transition: all 0.3s ease-out;
        }
    }
    .col-12 {
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            right: -4px;
            top: 0;
            width: 40px;
            height: 43px;
            background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            @include respond-to('small') {
                display: none;
            }
        }
        @include respond-to('small') {
            position: static;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    // ------------------------ SEARCH BOX
    .search {
        position: relative;
        margin-bottom: 40px;
        @include respond-to('medium') {
            margin-bottom: 24px;
        }
        @include respond-to('large') {
            z-index: 99;
            margin: 0;
        }
        input {
            width: 100%;
            height: 100%;
            padding: 8px 24px 9px 16px;
            border: 1px solid $color-border-ultralight;
            border-radius: 16px;
            @extend %type-tiny;
            color: $color-text-default;
            font-family: $font-regular;
            @include placeholder($color-text-light);
            &:-internal-autofill-selected,
            &:-webkit-autofill,
            &:focus {
                appearance: none !important;
                background-image: none !important;
            }
        }
        i {
            position: absolute;
            top: 10px;
            right: 12px;
            color: #D1D3DC;
            font-size: 13px;
        }
    }
    &::after {
        content: '';
        height: 0;
        height: calc(100vh - 145px);
        background: $color-primary;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 145px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.4s;
        @include respond-to('medium') {
            display: none;
        }
    }
    &.mobile-bg {
        &::after {
            opacity: 0.7;
            visibility: visible;
        }
    }
}

.nav {
    overflow-x: auto;
    margin: 0 -24px 0 0;
    @include respond-to('medium') {
        margin: 3px 0 0 0;
        overflow-x: unset;
    }
    a {
        display: block;
        // &::before {
        //     display: block;
        //     content: attr(data-text);
        //     font-family: $font-bold;
        //     height: 0;
        //     overflow: hidden;
        //     visibility: hidden;
        // }
        // &:hover {
        //     @include respond-to('medium') {
        //         font-family: $font-bold;
        //     }
        // }
    }
}

.navigation-menu {
    width: max-content;
    @include respond-to('medium') {
        width: auto;
    }
    >li {
        float: left;
        margin-right: 18px;
        margin-bottom: 0;
        position: relative;
        @include respond-to('medium') {
            margin-right: 28px;
            position: static;
        }
        &:last-of-type {
            margin-right: 35px;
            @include respond-to('medium') {
                margin-right: 0;
            }
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 38px;
            left: 0;
            right: -20px;
            height: 1px;
            background-color: $color-border-ultralight;
            @include respond-to('medium') {
                display: none;
            }
        }
        &.current-menu-item {
            >a {
                font-family: $font-bold;
                color: $color-primary;
                border-bottom: 1px solid $color-primary;
                text-decoration: none;
            }
        }
        &:hover,
        &.hover {
            >a {
                @include respond-to('medium') {
                    font-family: $font-bold;
                    color: $color-primary;
                    border-bottom: 1px solid $color-primary;
                    text-decoration: none;
                    &::after {
                        border: solid $color-primary;
                        border-width: 0 1px 1px 0;
                    }
                }
            }
        }
        >a {
            padding-bottom: 10px;
            @extend %type-medium;
            color: $color-text-light;
            border-bottom: 1px solid transparent;
            transition: all 0.4s ease-out;
            @include respond-to('medium') {
                font-size: 15px;
                line-height: 24px;
                padding-bottom: 0;
            }
            &:hover {
                text-decoration: none;
                @include respond-to('medium') {
                    font-family: $font-bold;
                }
            }
            &:focus {
                text-decoration: none;
            }
            &::before {
                display: block;
                content: attr(data-text);
                font-family: $font-bold;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }
        }
    }
    >.menu-item-has-children,
    .buyCoins,
    .countryGuides {
        >a {
            padding-right: 33px;
            position: relative;
            @include respond-to('medium') {
                padding-right: 10px;
                &::after {
                    content: '';
                    @include arrow-down;
                    width: 4px;
                    height: 4px;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 9px;
                }
            }
            .round-arrow-down {
                position: absolute;
                right: 0;
                top: 3px;
                width: 20px;
                height: 20px;
                @include respond-to('medium') {
                    display: none;
                }
                &::after {
                    top: 5px;
                    left: 6px;
                }
                &::before {
                    content: '';
                    width: 1px;
                    height: 16px;
                    display: inline-block;
                    position: absolute;
                    left: -9px;
                    top: 1px;
                    background: $color-border-ultralight;
                }
                &.up {
                    border: 1px solid $color-primary;
                    &::after {
                        top: 7px;
                        border: solid $color-primary;
                        border-width: 0 1px 1px 0;
                    }
                }
            }
        }
        // .sub-menu--wrap {
        //     @include respond-to('medium') {
        //         opacity: 0;
        //         pointer-events: none;
        //         margin-top: 5px;
        //         transition: all 400ms ease-out, opacity 300ms ease;
        //     }
        // }
        // &:hover {
        //     .sub-menu--wrap {
        //         @include respond-to('medium') {
        //             pointer-events: auto;
        //             margin-top: 0;
        //             opacity: 1;
        //         }
        //     }
        // }
    }
    >.menu-item-has-children {
        .sub-menu--wrap {
            @include respond-to('medium') {
                opacity: 0;
                pointer-events: none;
                margin-top: 5px;
                transition: all 400ms ease-out, opacity 300ms ease;
            }
        }
        &:hover {
            .sub-menu--wrap {
                @include respond-to('medium') {
                    pointer-events: auto;
                    margin-top: 0;
                    opacity: 1;
                }
            }
        }
    }
}