@font-face {
    font-family: 'euclid_circular_abold';
    src: url('fonts/euclidcirculara-bold-webfont.woff2') format('woff2'), url('fonts/euclidcirculara-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_circular_abold_italic';
    src: url('fonts/euclidcirculara-bolditalic-webfont.woff2') format('woff2'), url('..fonts/euclidcirculara-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_circular_alight';
    src: url('fonts/euclidcirculara-light-webfont.woff2') format('woff2'), url('fonts/euclidcirculara-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_circular_alight_italic';
    src: url('fonts/euclidcirculara-lightitalic-webfont.woff2') format('woff2'), url('fonts/euclidcirculara-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_circular_amedium';
    src: url('fonts/euclidcirculara-medium-webfont.woff2') format('woff2'), url('fonts/euclidcirculara-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_circular_aMdIt';
    src: url('fonts/euclidcirculara-mediumitalic-webfont.woff2') format('woff2'), url('fonts/euclidcirculara-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_circular_aregular';
    src: url('fonts/euclidcirculara-regular-webfont.woff2') format('woff2'), url('fonts/euclidcirculara-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_circular_aitalic';
    src: url('fonts/euclidcirculara-regularitalic-webfont.woff2') format('woff2'), url('fonts/euclidcirculara-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_circular_asemibold';
    src: url('fonts/euclidcirculara-semibold-webfont.woff2') format('woff2'), url('fonts/euclidcirculara-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euclid_circular_aSBdIt';
    src: url('fonts/euclidcirculara-semibolditalic-webfont.woff2') format('woff2'), url('fonts/euclidcirculara-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// FONT AWESOME
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
// BOOTSTRAP GRID
$grid-gutter-width: 40px;
@import 'bootstrap/bootstrap-grid.scss';
@media (min-width: 1200px) {
    .container {
        max-width: 1344px;
    }
}

.container {
    padding-right: 24px;
    padding-left: 24px;
}

// STYLES
@import "base/base";
@import "components/components";
@import "layout/layout";
@import "pages/pages";