    li {
        @extend %type-small;
        color: $color-text-default;
        margin-bottom: 12px;
        @include respond-to('medium') {
            font-size: 16px;
            line-height: 24px;
        }
    }
    
    // ul {
    //     list-style-type: none;
    //     padding: 0;
    //     li {
    //         padding: 0 0 0 16px;
    //         position: relative;
    //         &::before {
    //             content: '';
    //             position: absolute;
    //             top: 9px;
    //             left: 0;
    //             width: 4px;
    //             height: 4px;
    //             border-radius: 50%;
    //             background-color: $color-primary;
    //         }
    //     }
    // }
    // ol {
    //     list-style: none;
    //     padding: 0;
    //     li {
    //         padding-left: 24px;
    //         position: relative;
    //         counter-increment: li;
    //         &::before {
    //             color: $color-text-ultralight;
    //             @extend %type-tiny;
    //             content: counter(li) ".";
    //             position: absolute;
    //             left: 0;
    //             top: 3px;
    //         }
    //     }
    // }