// ------------------------------------------font-family
$font-regular:'euclid_circular_aregular',
sans-serif;
$font-bold:'euclid_circular_abold',
sans-serif;
$font-medium:'euclid_circular_amedium',
sans-serif;
$font-italic:'euclid_circular_aitalic',
sans-serif;
$font-light: 'euclid_circular_alight',
sans-serif;
// -------------------------------------------font-size
%type-tiny {
    font-size: 12px;
    line-height: 16px;
}

%type-small {
    font-size: 14px;
    line-height: 20px;
    // font-size: 1.4rem;
    // line-height: 2rem;
}

%type-base {
    font-size: 16px;
    line-height: 24px;
    // font-size: 1.6rem;
    // line-height: 2.4rem;
}

%type-medium {
    font-size: 20px;
    line-height: 28px;
}

%type-large {
    font-size: 25px;
    line-height: 32px;
}

%type-xlarge {
    font-size: 31px;
    line-height: 40px;
}

%type-xxlarge {
    font-size: 47px;
    line-height: 52px;
}

%type-caption {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

%type-button {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: $font-bold;
}

%type-text-quote {
    font-family: $font-italic;
    font-size: 20px;
    line-height: 28px;
}

body {
    font-family: $font-regular;
    @extend %type-base;
    color: $color-text-default;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 24px 0;
    font-family: $font-bold;
    @include respond-to('medium') {
        margin: 0 0 32px 0;
    }
}

h1 {
    @extend %type-xlarge;
    @include respond-to('medium') {
        font-size: 47px;
        line-height: 52px;
    }
}

h2 {
    @extend %type-large;
    color: $color-text-default;
    @include respond-to('medium') {
        font-size: 31px;
        line-height: 36px;
    }
}

h3 {
    @extend %type-medium;
    @include respond-to('medium') {
        font-size: 25px;
        line-height: 32px;
    }
}

h4 {
    @extend %type-base;
    @include respond-to('medium') {
        font-size: 20px;
        line-height: 28px;
    }
}

h5 {
    @extend %type-small;
    @include respond-to('medium') {
        font-size: 16px;
        line-height: 24px;
    }
}

h6 {
    @extend %type-tiny;
    @include respond-to('medium') {
        font-size: 14px;
        line-height: 20px;
    }
}

p {
    margin: 0 0 24px 0;
    @extend %type-small;
    @include respond-to('medium') {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 32px 0;
    }
   
}

a {
    color: $color-primary;
}

blockquote {
    margin: 0;
    @extend %type-text-quote;
    color: $color-text-light;
    margin-bottom: 24px;
    position: relative;
    quotes: "\201C" "\201D";
    @include respond-to('medium') {
        margin-bottom: 32px;
    }
    &::before {
        content: open-quote;
        display: block;
        font-size: 120px;
        line-height: 90px;
        left: 0;
        top: 0;
        color: #F0F2F8;
        margin-bottom: -45px;
        margin-left: -7px;
    }
    p {
        @extend %type-text-quote;
    }
}