// COLOR VARIABLES
$color-white: #fff;
$color-primary: #3345A3;
$color-primary-light:#435ADA;
$color-secondary: #3c2881;
$color-rating: #FF8515;
$color-text-default:#3F435A;
$color-text-light:#888C9D;
$color-text-ultralight:#BFC1CE;
$color-border-dark:#141B3E;
$color-border-medium:#838AAB;
$color-border-ultralight:#DEE0EC;
$color-background-ultralight:#F0F2F8;
$color-success:#21EAA2;
$color-warning:#F34463;
$color-coins:#EFD358;
$color-coins-dark:#D8BC48;
$color-gray-light:#C4C4C4;
// RESPONSIVE
$breakpoints: ( 'xsmall': (min-width: 576px), 'small': (min-width: 768px), 'medium': (min-width: 992px), 'large': (min-width: 1200px), 'xlarge': (min-width: 1440px));
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);
    @if $raw-query {
        $query: if(type-of($raw-query)=='string', unquote($raw-query), inspect($raw-query));
        @media #{$query} {
            @content;
        }
    }
    @else {
        @error 'No value found for `#{$breakpoint}`. '+'Please make sure it is defined in `$breakpoints` map.';
    }
}