/* Flip Card */
.eaw-flipcard-container, .eaw-flipcard-back, .eaw-flipcard-front {
	width: 100%;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.eaw-flipcard-container {
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.eaw-flipcard {
	background: transparent;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	color: #444444;
	-webkit-transition: -webkit-transform .8s cubic-bezier(.34, 1.45, .7, 1);
	transition: -webkit-transform .8s cubic-bezier(.34, 1.45, .7, 1);
	-o-transition: transform .8s cubic-bezier(.34, 1.45, .7, 1);
	transition: transform .8s cubic-bezier(.34, 1.45, .7, 1);
	transition: transform .8s cubic-bezier(.34, 1.45, .7, 1), -webkit-transform .8s cubic-bezier(.34, 1.45, .7, 1);
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	position: relative;
	will-change: transform;
}

.eaw-flipcard.eaw_flipped {
	-webkit-transform: rotateY(-180deg);
	        transform: rotateY(-180deg);
}

.eaw-flipcard-container:hover .eaw-flipcard {
	-webkit-transform: rotateY(-180deg);
	        transform: rotateY(-180deg);
}

.eaw-flipcard-front,
.eaw-flipcard-back {
	padding: 10px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	background: -webkit-linear-gradient(-30deg, #ec407a, #c2185b);
	background: -o-linear-gradient(-30deg, #ec407a, #c2185b);
	background: linear-gradient(-60deg, #ec407a, #c2185b);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.eaw-flipcard-front {
	z-index: 2;
}

.eaw-flipcard-back {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	z-index: 3;
}

.eaw-flipcard-buttons {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.eaw-flipcard-button {
	font-weight: 600;
	border: 2px solid #fff;
	padding: 10px 20px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	margin: 5px 20px 0 0;
	display: inline-block;
}

.eaw-flipcard-button:nth-child(2n + 1) {
	margin-right: 0;
}

/* EAW Review Box */
.eaw-review-box-wrapper {
	border: 1px solid #e6e6e6;
	border-top: 5px solid #3BAEDA;
}

.eaw-review-box-wrapper h3 {
	margin: 10px 0 10px 0;
	font-weight: 600;
	display: inline-block;
	width: 50%;
}

.eaw-review-box-wrapper .eaw-review-box-top {
	padding: 10px 15px;
}

.eaw-review-box-wrapper h3.eaw-review-box-price {
	float: left;
	text-align: left;
	font-weight: 500;
}

.eaw-review-header {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.eaw-review-header > div {
	width: 50%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.eaw-review-header .eaw-rating {
	border-right: 1px solid #e6e6e6;
	padding: 20px;
}

.eaw-review-box-right,
.eaw-review-box-left {
	width: 50%;
	display: table-cell;
}

.eaw-review-box-right {
	padding: 0 20px;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	vertical-align: top;
}

.eaw-review-box-right h4 {
	margin: 10px 0 0 0;
}
.eaw-review-box-right ul {
	margin: 0;
}

/* Handle Rating generic */
.eaw-grade-content {
	position: relative;
	width: 120px;
	height: 120px;
	margin: 0 auto;
}

.eaw-c100 {
	position: relative;
	height: 100%;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background-color: #ebebeb;
	font-size: 120px;
}

.eaw-c100 > span {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 15px;
	width: 90px;
	font-size: 33px;
	font-weight: 800;
	line-height: 90px;
	text-align: center;
	background: #fff;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	margin: 15px 0;
}

/* Handle the Rating Circle */
.eaw-slice {
	position: absolute;
	width: 100%;
	height: 100%;
	clip: rect(0em, 1em, 1em, 0.5em);
}

.eaw-review-good .eaw-slice, .eaw-review-very-good .eaw-slice {
	clip: rect(auto, auto, auto, auto)
}

.eaw-bar {
	clip: rect(0em, 0.5em, 1em, 0em);
	position: absolute;
	width: 100%;
	height: 100%;
	border: 15px solid #333;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.eaw-fill {
	clip: rect(0em, 0.5em, 1em, 0em);
	position: absolute;
	width: 100%;
	height: 100%;
	border: 15px solid #333;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	display: none;
}

/* Handle ratings each 10 units */
.eaw-review-good .eaw-fill, .eaw-review-very-good .eaw-fill {
	display: block;
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.eaw-rated-p0 .eaw-bar {
	-webkit-transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
	transform: rotate(-18deg);
}

.eaw-rated-p10 .eaw-bar {
	-webkit-transform: rotate(-36deg);
	-ms-transform: rotate(-36deg);
	transform: rotate(-36deg);
}

.eaw-rated-p20 .eaw-bar {
	-webkit-transform: rotate(-72deg);
	-ms-transform: rotate(-72deg);
	transform: rotate(-72deg);
}

.eaw-rated-p30 .eaw-bar {
	-webkit-transform: rotate(-108deg);
	-ms-transform: rotate(-108deg);
	transform: rotate(-108deg);
}

.eaw-rated-p40 .eaw-bar {
	-webkit-transform: rotate(-144deg);
	-ms-transform: rotate(-144deg);
	transform: rotate(-144deg);
}

.eaw-rated-p50 .eaw-bar {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.eaw-rated-p60 .eaw-bar {
	-webkit-transform: rotate(-216deg);
	-ms-transform: rotate(-216deg);
	transform: rotate(-216deg);
}

.eaw-rated-p70 .eaw-bar {
	-webkit-transform: rotate(-252deg);
	-ms-transform: rotate(-252deg);
	transform: rotate(-252deg);
}

.eaw-rated-p80 .eaw-bar {
	-webkit-transform: rotate(-288deg);
	-ms-transform: rotate(-288deg);
	transform: rotate(-288deg);
}

.eaw-rated-p90 .eaw-bar {
	-webkit-transform: rotate(-324deg);
	-ms-transform: rotate(-324deg);
	transform: rotate(-324deg);
}

.eaw-rated-p100 .eaw-bar {
	-webkit-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

/* Handle rating colors */
.eaw-review-weak .eaw-bar {
	border-color: #FF7F66;
}

.eaw-review-weak > span {
	color: #FF7F66;
}

.eaw-review-not-bad .eaw-bar {
	border-color: #FFCE55;
}

.eaw-review-not-bad > span {
	color: #FFCE55;
}

.eaw-review-good .eaw-bar, .eaw-review-good .eaw-fill {
	border-color: #50C1E9;
}

.eaw-review-good > span {
	color: #50C1E9;
}

.eaw-review-very-good .eaw-bar, .eaw-review-very-good .eaw-fill {
	border-color: #8DC153;
}

.eaw-review-very-good > span {
	color: #8DC153;
}

.eaw-icon-score-display {
	position: relative;
	display: inline-block;
	font-size: 21px;
}

.eaw-icon-score-display span {
	width: 20px;
}

.eaw-icon-score-display .eaw-colored {
	position: absolute;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
}

.eaw-icon-score-display .eaw-grey {
	color: #ebebeb;
}

.eaw-review-box-score, .eaw-score-title {
	display: inline-block;
	margin:0;
}
.eaw-review-box-score {
	float: left;
}
.eaw-score-wrapper {
	margin: 10px 0;
}
.eaw-review-score-list {
	padding: 25px;
}

/* Social Sharing */
.eaw-share-link {
	text-align: center;
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 10px;
}

.eaw-share-link .eaw-icon,
.eaw-share-link .eaw-label {
	display: table-cell;
	vertical-align: middle;
}

.eaw-share-link .eaw-icon + .eaw-label {
	padding-right: 5px;
}

.eaw-label {
	font-size: 13px;
}

.eaw-btn {
	margin: 5px;
	display: inline-block;
	padding: 10px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	transition: box-shadow .2s cubic-bezier(0.4, 0, 1, 1), background-color .2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow .2s cubic-bezier(0.4, 0, 1, 1);
}

.eaw-btn:hover {
	opacity: 1 !important;
}

.eaw-btn.eaw-btn-facebook {
	color: #ffffff;
	background-color: #3b5998;
	-webkit-box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
	box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
}

.eaw-btn.eaw-btn-facebook:focus, .eaw-btn.eaw-btn-facebook:active, .eaw-btn.eaw-btn-facebook:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
	box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
}

.eaw-btn.eaw-btn-twitter, .eaw-btn.eaw-btn-email {
	color: #ffffff;
	background-color: #55acee;
	-webkit-box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
	box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
	height: auto;
}

.eaw-btn.eaw-btn-twitter:focus, .eaw-btn.eaw-btn-twitter:active, .eaw-btn.eaw-btn-twitter:hover, .eaw-btn.eaw-btn-email:focus, .eaw-btn.eaw-btn-email:active, .eaw-btn.eaw-btn-email:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
	box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
}

.eaw-btn.eaw-btn-pinterest {
	color: #ffffff;
	background-color: #cc2127;
	-webkit-box-shadow: 0 2px 2px 0 rgba(204, 33, 39, 0.14), 0 3px 1px -2px rgba(204, 33, 39, 0.2), 0 1px 5px 0 rgba(204, 33, 39, 0.12);
	box-shadow: 0 2px 2px 0 rgba(204, 33, 39, 0.14), 0 3px 1px -2px rgba(204, 33, 39, 0.2), 0 1px 5px 0 rgba(204, 33, 39, 0.12);
}

.eaw-btn.eaw-btn-pinterest:focus, .eaw-btn.eaw-btn-pinterest:active, .eaw-btn.eaw-btn-pinterest:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(204, 33, 39, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(204, 33, 39, 0.2);
	box-shadow: 0 14px 26px -12px rgba(204, 33, 39, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(204, 33, 39, 0.2);
}

.eaw-btn.eaw-btn-google {
	color: #ffffff;
	background-color: #dd4b39;
	-webkit-box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
	box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
}

.eaw-btn.eaw-btn-google:focus, .eaw-btn.eaw-btn-google:active, .eaw-btn.eaw-btn-google:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
	box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
}

.eaw-btn.eaw-btn-linkedin {
	color: #ffffff;
	background-color: #0976b4;
	-webkit-box-shadow: 0 2px 2px 0 rgba(9, 118, 180, 0.14), 0 3px 1px -2px rgba(9, 118, 180, 0.2), 0 1px 5px 0 rgba(9, 118, 180, 0.12);
	box-shadow: 0 2px 2px 0 rgba(9, 118, 180, 0.14), 0 3px 1px -2px rgba(9, 118, 180, 0.2), 0 1px 5px 0 rgba(9, 118, 180, 0.12);
}

.eaw-btn.eaw-btn-linkedin:focus, .eaw-btn.eaw-btn-linkedin:active, .eaw-btn.eaw-btn-linkedin:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(9, 118, 180, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(9, 118, 180, 0.2);
	box-shadow: 0 14px 26px -12px rgba(9, 118, 180, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(9, 118, 180, 0.2);
}

.eaw-btn.eaw-btn-reddit {
	color: #ffffff;
	background-color: #ff4500;
	-webkit-box-shadow: 0 2px 2px 0 rgba(255, 69, 0, 0.14), 0 3px 1px -2px rgba(255, 69, 0, 0.2), 0 1px 5px 0 rgba(255, 69, 0, 0.12);
	box-shadow: 0 2px 2px 0 rgba(255, 69, 0, 0.14), 0 3px 1px -2px rgba(255, 69, 0, 0.2), 0 1px 5px 0 rgba(255, 69, 0, 0.12);
}

.eaw-btn.eaw-btn-reddit:focus, .eaw-btn.eaw-btn-reddit:active, .eaw-btn.eaw-btn-reddit:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(255, 69, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 69, 0, 0.2);
	box-shadow: 0 14px 26px -12px rgba(255, 69, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 69, 0, 0.2);
}

.eaw-btn.eaw-btn-tumblr {
	color: #ffffff;
	background-color: #35465c;
	-webkit-box-shadow: 0 2px 2px 0 rgba(53, 70, 92, 0.14), 0 3px 1px -2px rgba(53, 70, 92, 0.2), 0 1px 5px 0 rgba(53, 70, 92, 0.12);
	box-shadow: 0 2px 2px 0 rgba(53, 70, 92, 0.14), 0 3px 1px -2px rgba(53, 70, 92, 0.2), 0 1px 5px 0 rgba(53, 70, 92, 0.12);
}

.eaw-btn.eaw-btn-tumblr:focus, .eaw-btn.eaw-btn-tumblr:active, .eaw-btn.eaw-btn-tumblr:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(53, 70, 92, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(53, 70, 92, 0.2);
	box-shadow: 0 14px 26px -12px rgba(53, 70, 92, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(53, 70, 92, 0.2);
}

.eaw-btn.eaw-btn-xing {
	color: #ffffff;
	background-color: #026466;
	-webkit-box-shadow: 0 2px 2px 0 rgba(2, 100, 102, 0.14), 0 3px 1px -2px rgba(2, 100, 102, 0.2), 0 1px 5px 0 rgba(2, 100, 102, 0.12);
	box-shadow: 0 2px 2px 0 rgba(2, 100, 102, 0.14), 0 3px 1px -2px rgba(2, 100, 102, 0.2), 0 1px 5px 0 rgba(2, 100, 102, 0.12);
}

.eaw-btn.eaw-btn-xing:focus, .eaw-btn.eaw-btn-xing:active, .eaw-btn.eaw-btn-xing:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(2, 100, 102, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(2, 100, 102, 0.2);
	box-shadow: 0 14px 26px -12px rgba(2, 100, 102, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(2, 100, 102, 0.2);
}

.eaw-btn.eaw-btn-whatsapp {
	color: #ffffff;
	background-color: #20b038;
	-webkit-box-shadow: 0 2px 2px 0 rgba(32, 176, 56, 0.14), 0 3px 1px -2px rgba(32, 176, 56, 0.2), 0 1px 5px 0 rgba(32, 176, 56, 0.12);
	box-shadow: 0 2px 2px 0 rgba(32, 176, 56, 0.14), 0 3px 1px -2px rgba(32, 176, 56, 0.2), 0 1px 5px 0 rgba(32, 176, 56, 0.12);
}

.eaw-btn.eaw-btn-whatsapp:focus, .eaw-btn.eaw-btn-whatsapp:active, .eaw-btn.eaw-btn-whatsapp:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(32, 176, 56, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(32, 176, 56, 0.2);
	box-shadow: 0 14px 26px -12px rgba(32, 176, 56, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(32, 176, 56, 0.2);
}

.eaw-btn.eaw-btn-vk {
	color: #ffffff;
	background-color: #45668e;
	-webkit-box-shadow: 0 2px 2px 0 rgba(69, 102, 142, 0.14), 0 3px 1px -2px rgba(69, 102, 142, 0.2), 0 1px 5px 0 rgba(69, 102, 142, 0.12);
	box-shadow: 0 2px 2px 0 rgba(69, 102, 142, 0.14), 0 3px 1px -2px rgba(69, 102, 142, 0.2), 0 1px 5px 0 rgba(69, 102, 142, 0.12);
}

.eaw-btn.eaw-btn-vk:focus, .eaw-btn.eaw-btn-vk:active, .eaw-btn.eaw-btn-vk:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(69, 102, 142, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(69, 102, 142, 0.2);
	box-shadow: 0 14px 26px -12px rgba(69, 102, 142, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(69, 102, 142, 0.2);
}

.eaw-btn.eaw-btn-hackernews {
	color: #ffffff;
	background-color: #ff6600;
	-webkit-box-shadow: 0 2px 2px 0 rgba(255, 102, 0, 0.14), 0 3px 1px -2px rgba(255, 102, 0, 0.2), 0 1px 5px 0 rgba(255, 102, 0, 0.12);
	box-shadow: 0 2px 2px 0 rgba(255, 102, 0, 0.14), 0 3px 1px -2px rgba(255, 102, 0, 0.2), 0 1px 5px 0 rgba(255, 102, 0, 0.12);
}

.eaw-btn.eaw-btn-hackernews:focus, .eaw-btn.eaw-btn-hackernews:active, .eaw-btn.eaw-btn-hackernews:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(255, 102, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 102, 0, 0.2);
	box-shadow: 0 14px 26px -12px rgba(255, 102, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 102, 0, 0.2);
}

.eaw-btn.eaw-btn-telegram {
	color: #ffffff;
	background-color: #0088cc;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 136, 204, 0.14), 0 3px 1px -2px rgba(0, 136, 204, 0.2), 0 1px 5px 0 rgba(0, 136, 204, 0.12);
	box-shadow: 0 2px 2px 0 rgba(0, 136, 204, 0.14), 0 3px 1px -2px rgba(0, 136, 204, 0.2), 0 1px 5px 0 rgba(0, 136, 204, 0.12);
}

.eaw-btn.eaw-btn-telegram:focus, .eaw-btn.eaw-btn-telegram:active, .eaw-btn.eaw-btn-telegram:hover {
	-webkit-box-shadow: 0 14px 26px -12px rgba(0, 136, 204, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 136, 204, 0.2);
	box-shadow: 0 14px 26px -12px rgba(0, 136, 204, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 136, 204, 0.2);
}

@media (max-width: 768px) {
	.eaw-review-box-right, .eaw-review-header {
		display: block;
		border-top: 1px solid #e6e6e6;
		width: 100%;
	}
}
